body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1300px;
    width:971px;
    height:244px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u0 {
    position:absolute;
    left:0px;
    top:1300px;
    width:971px;
    height:244px
}

.u3_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:827px;
}

.u3 {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px
}

.u5_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:616px;
}

.u5 {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px
}

.u7_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:81px;
}

.u7 {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px
}

.u9_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:207px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u9 {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:207px
}

.u14_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u9_original.png');
}

.u14_container {
    position:absolute;
    left:170px;
    top:550px;
    width:770px;
    height:207px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u14 {
    position:absolute;
    left:170px;
    top:550px;
    width:770px;
    height:207px
}

.u18_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u18 {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px
}

.u21_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u21 {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px
}

.u23_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u23 {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px
}

.u25_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u25_container {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u25 {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px
}

.u27_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u27_container {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u27 {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px
}

.u29_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:488px;
    height:69px;
}

.u29 {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px
}

.u31_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u31 {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px
}

.u40_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u40_container {
    position:absolute;
    left:510px;
    top:610px;
    width:32px;
    height:32px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u40 {
    position:absolute;
    left:510px;
    top:610px;
    width:32px;
    height:32px
}

.u42_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u42_container {
    position:absolute;
    left:620px;
    top:612px;
    width:32px;
    height:32px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u42 {
    position:absolute;
    left:620px;
    top:612px;
    width:32px;
    height:32px
}

.u44_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u44_container {
    position:absolute;
    left:510px;
    top:652px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u44 {
    position:absolute;
    left:510px;
    top:652px;
    width:32px;
    height:32px
}

.u49_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u9_original.png');
}

.u49_container {
    position:absolute;
    left:170px;
    top:773px;
    width:770px;
    height:207px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u49 {
    position:absolute;
    left:170px;
    top:773px;
    width:770px;
    height:207px
}

.u54_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u54_container {
    position:absolute;
    left:510px;
    top:833px;
    width:32px;
    height:32px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u54 {
    position:absolute;
    left:510px;
    top:833px;
    width:32px;
    height:32px
}

.u56_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u56_container {
    position:absolute;
    left:620px;
    top:835px;
    width:32px;
    height:32px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u56 {
    position:absolute;
    left:620px;
    top:835px;
    width:32px;
    height:32px
}

.u58_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u58_container {
    position:absolute;
    left:510px;
    top:875px;
    width:32px;
    height:32px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u58 {
    position:absolute;
    left:510px;
    top:875px;
    width:32px;
    height:32px
}

.u60_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u60_container {
    position:absolute;
    left:620px;
    top:877px;
    width:32px;
    height:32px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u60 {
    position:absolute;
    left:620px;
    top:877px;
    width:32px;
    height:32px
}

.u67 {
    position:absolute;
    left:465px;
    top:285px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u68 {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px
}

.u74_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:511px;
    top:711px;
    width:18px;
    height:18px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u74 {
    position:absolute;
    left:511px;
    top:711px;
    width:18px;
    height:18px
}

.u76_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u76_container {
    position:absolute;
    left:533px;
    top:711px;
    width:18px;
    height:18px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u76 {
    position:absolute;
    left:533px;
    top:711px;
    width:18px;
    height:18px
}

.u78_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u78_container {
    position:absolute;
    left:555px;
    top:711px;
    width:18px;
    height:18px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u78 {
    position:absolute;
    left:555px;
    top:711px;
    width:18px;
    height:18px
}

.u80_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u80_container {
    position:absolute;
    left:577px;
    top:711px;
    width:18px;
    height:18px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u80 {
    position:absolute;
    left:577px;
    top:711px;
    width:18px;
    height:18px
}

.u82_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u82_container {
    position:absolute;
    left:599px;
    top:711px;
    width:18px;
    height:18px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u82 {
    position:absolute;
    left:599px;
    top:711px;
    width:18px;
    height:18px
}

.u84_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u84_container {
    position:absolute;
    left:621px;
    top:711px;
    width:18px;
    height:18px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u84 {
    position:absolute;
    left:621px;
    top:711px;
    width:18px;
    height:18px
}

.u86_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u86_container {
    position:absolute;
    left:643px;
    top:711px;
    width:18px;
    height:18px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u86 {
    position:absolute;
    left:643px;
    top:711px;
    width:18px;
    height:18px
}

.u88_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u88_container {
    position:absolute;
    left:665px;
    top:711px;
    width:18px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u88 {
    position:absolute;
    left:665px;
    top:711px;
    width:18px;
    height:18px
}

.u90_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u90_container {
    position:absolute;
    left:687px;
    top:711px;
    width:18px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u90 {
    position:absolute;
    left:687px;
    top:711px;
    width:18px;
    height:18px
}

.u92_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u92_container {
    position:absolute;
    left:709px;
    top:711px;
    width:18px;
    height:18px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u92 {
    position:absolute;
    left:709px;
    top:711px;
    width:18px;
    height:18px
}

.u94_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u94_container {
    position:absolute;
    left:511px;
    top:732px;
    width:18px;
    height:18px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u94 {
    position:absolute;
    left:511px;
    top:732px;
    width:18px;
    height:18px
}

.u96_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u96_container {
    position:absolute;
    left:533px;
    top:732px;
    width:18px;
    height:18px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u96 {
    position:absolute;
    left:533px;
    top:732px;
    width:18px;
    height:18px
}

.u98_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:556px;
    top:732px;
    width:8px;
    height:18px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u98 {
    position:absolute;
    left:556px;
    top:732px;
    width:8px;
    height:18px
}

.u102_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u102_container {
    position:absolute;
    left:511px;
    top:936px;
    width:18px;
    height:18px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u102 {
    position:absolute;
    left:511px;
    top:936px;
    width:18px;
    height:18px
}

.u104_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u104_container {
    position:absolute;
    left:533px;
    top:936px;
    width:18px;
    height:18px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u104 {
    position:absolute;
    left:533px;
    top:936px;
    width:18px;
    height:18px
}

.u106_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u106_container {
    position:absolute;
    left:555px;
    top:936px;
    width:18px;
    height:18px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u106 {
    position:absolute;
    left:555px;
    top:936px;
    width:18px;
    height:18px
}

.u108_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u108_container {
    position:absolute;
    left:577px;
    top:936px;
    width:18px;
    height:18px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u108 {
    position:absolute;
    left:577px;
    top:936px;
    width:18px;
    height:18px
}

.u110_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u110_container {
    position:absolute;
    left:599px;
    top:936px;
    width:18px;
    height:18px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u110 {
    position:absolute;
    left:599px;
    top:936px;
    width:18px;
    height:18px
}

.u112_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u112_container {
    position:absolute;
    left:621px;
    top:936px;
    width:18px;
    height:18px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u112 {
    position:absolute;
    left:621px;
    top:936px;
    width:18px;
    height:18px
}

.u114_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u114_container {
    position:absolute;
    left:643px;
    top:936px;
    width:18px;
    height:18px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u114 {
    position:absolute;
    left:643px;
    top:936px;
    width:18px;
    height:18px
}

.u116_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u116_container {
    position:absolute;
    left:665px;
    top:936px;
    width:18px;
    height:18px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u116 {
    position:absolute;
    left:665px;
    top:936px;
    width:18px;
    height:18px
}

.u118_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u118_container {
    position:absolute;
    left:687px;
    top:936px;
    width:18px;
    height:18px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u118 {
    position:absolute;
    left:687px;
    top:936px;
    width:18px;
    height:18px
}

.u120_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u120_container {
    position:absolute;
    left:709px;
    top:936px;
    width:18px;
    height:18px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u120 {
    position:absolute;
    left:709px;
    top:936px;
    width:18px;
    height:18px
}

.u122_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u122_container {
    position:absolute;
    left:511px;
    top:957px;
    width:18px;
    height:18px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u122 {
    position:absolute;
    left:511px;
    top:957px;
    width:18px;
    height:18px
}

.u124_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u124_container {
    position:absolute;
    left:533px;
    top:957px;
    width:18px;
    height:18px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u124 {
    position:absolute;
    left:533px;
    top:957px;
    width:18px;
    height:18px
}

.u126_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u98_original.png');
}

.u126_container {
    position:absolute;
    left:556px;
    top:957px;
    width:8px;
    height:18px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u126 {
    position:absolute;
    left:556px;
    top:957px;
    width:8px;
    height:18px
}

.u128_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u128_original.png');
}

.u128_container {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:147px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u128 {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:147px
}

.u130_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:850px;
    top:494px;
    width:73px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u130 {
    position:absolute;
    left:850px;
    top:494px;
    width:73px;
    height:20px
}

.u137_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u137_line.png');
}

.u137_line {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px;
}

.u137 {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px
}

.u139_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u128_original.png');
}

.u139_container {
    position:absolute;
    left:750px;
    top:596px;
    width:176px;
    height:147px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u139 {
    position:absolute;
    left:750px;
    top:596px;
    width:176px;
    height:147px
}

.u141_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u130_original.png');
}

.u141_container {
    position:absolute;
    left:850px;
    top:717px;
    width:73px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u141 {
    position:absolute;
    left:850px;
    top:717px;
    width:73px;
    height:20px
}

.u148_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:830px;
    top:641px;
    width:90px;
    height:3px;
}

.u148 {
    position:absolute;
    left:830px;
    top:641px;
    width:90px;
    height:3px
}

.u150_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u128_original.png');
}

.u150_container {
    position:absolute;
    left:750px;
    top:816px;
    width:176px;
    height:147px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u150 {
    position:absolute;
    left:750px;
    top:816px;
    width:176px;
    height:147px
}

.u152_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u130_original.png');
}

.u152_container {
    position:absolute;
    left:850px;
    top:937px;
    width:73px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u152 {
    position:absolute;
    left:850px;
    top:937px;
    width:73px;
    height:20px
}

.u159_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u159_line.png');
}

.u159_line {
    position:absolute;
    left:830px;
    top:861px;
    width:90px;
    height:3px;
}

.u159 {
    position:absolute;
    left:830px;
    top:861px;
    width:90px;
    height:3px
}

.u161_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u161_original.png');
}

.u161_container {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u161 {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px
}

.u166_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u166_container {
    position:absolute;
    left:511px;
    top:491px;
    width:18px;
    height:18px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u166 {
    position:absolute;
    left:511px;
    top:491px;
    width:18px;
    height:18px
}

.u168_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u168_container {
    position:absolute;
    left:533px;
    top:491px;
    width:18px;
    height:18px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u168 {
    position:absolute;
    left:533px;
    top:491px;
    width:18px;
    height:18px
}

.u170_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u170_container {
    position:absolute;
    left:555px;
    top:491px;
    width:18px;
    height:18px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u170 {
    position:absolute;
    left:555px;
    top:491px;
    width:18px;
    height:18px
}

.u172_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u172_container {
    position:absolute;
    left:577px;
    top:491px;
    width:18px;
    height:18px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u172 {
    position:absolute;
    left:577px;
    top:491px;
    width:18px;
    height:18px
}

.u174_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u174_container {
    position:absolute;
    left:599px;
    top:491px;
    width:18px;
    height:18px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u174 {
    position:absolute;
    left:599px;
    top:491px;
    width:18px;
    height:18px
}

.u176_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u176_container {
    position:absolute;
    left:621px;
    top:491px;
    width:18px;
    height:18px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u176 {
    position:absolute;
    left:621px;
    top:491px;
    width:18px;
    height:18px
}

.u178_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u178_container {
    position:absolute;
    left:643px;
    top:491px;
    width:18px;
    height:18px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u178 {
    position:absolute;
    left:643px;
    top:491px;
    width:18px;
    height:18px
}

.u180_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u180_container {
    position:absolute;
    left:665px;
    top:491px;
    width:18px;
    height:18px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u180 {
    position:absolute;
    left:665px;
    top:491px;
    width:18px;
    height:18px
}

.u182_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u182_container {
    position:absolute;
    left:687px;
    top:491px;
    width:18px;
    height:18px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u182 {
    position:absolute;
    left:687px;
    top:491px;
    width:18px;
    height:18px
}

.u184_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u18_original.png');
}

.u184_container {
    position:absolute;
    left:180px;
    top:607px;
    width:310px;
    height:125px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u184 {
    position:absolute;
    left:180px;
    top:607px;
    width:310px;
    height:125px
}

.u188_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u161_original.png');
}

.u188_container {
    position:absolute;
    left:190px;
    top:706px;
    width:20px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u188 {
    position:absolute;
    left:190px;
    top:706px;
    width:20px;
    height:20px
}

.u191_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u18_original.png');
}

.u191_container {
    position:absolute;
    left:180px;
    top:833px;
    width:310px;
    height:125px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u191 {
    position:absolute;
    left:180px;
    top:833px;
    width:310px;
    height:125px
}

.u198_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u198_original.png');
}

.u198_container {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u198 {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px
}

.u200_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u200_line.png');
}

.u200_line {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px;
}

.u200 {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px
}

.u205_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u205_original.png');
}

.u205_container {
    position:absolute;
    left:170px;
    top:1037px;
    width:770px;
    height:213px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:219px;
}

.u205 {
    position:absolute;
    left:170px;
    top:1037px;
    width:770px;
    height:213px
}

.u209_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u209_original.png');
}

.u209_container {
    position:absolute;
    left:180px;
    top:1095px;
    width:310px;
    height:125px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u209 {
    position:absolute;
    left:180px;
    top:1095px;
    width:310px;
    height:125px
}

.u212_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u212_container {
    position:absolute;
    left:510px;
    top:1097px;
    width:32px;
    height:32px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u212 {
    position:absolute;
    left:510px;
    top:1097px;
    width:32px;
    height:32px
}

.u214_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u214_container {
    position:absolute;
    left:620px;
    top:1099px;
    width:32px;
    height:32px;
}

#u214_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u214 {
    position:absolute;
    left:620px;
    top:1099px;
    width:32px;
    height:32px
}

.u216_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u216_container {
    position:absolute;
    left:510px;
    top:1139px;
    width:32px;
    height:32px;
}

#u216_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u216 {
    position:absolute;
    left:510px;
    top:1139px;
    width:32px;
    height:32px
}

.u218_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u218_container {
    position:absolute;
    left:620px;
    top:1141px;
    width:32px;
    height:32px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u218 {
    position:absolute;
    left:620px;
    top:1141px;
    width:32px;
    height:32px
}

.u227_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u227_container {
    position:absolute;
    left:511px;
    top:1201px;
    width:18px;
    height:18px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u227 {
    position:absolute;
    left:511px;
    top:1201px;
    width:18px;
    height:18px
}

.u229_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u229_container {
    position:absolute;
    left:533px;
    top:1201px;
    width:18px;
    height:18px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u229 {
    position:absolute;
    left:533px;
    top:1201px;
    width:18px;
    height:18px
}

.u232_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u128_original.png');
}

.u232_container {
    position:absolute;
    left:750px;
    top:1080px;
    width:176px;
    height:147px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u232 {
    position:absolute;
    left:750px;
    top:1080px;
    width:176px;
    height:147px
}

.u234_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u130_original.png');
}

.u234_container {
    position:absolute;
    left:850px;
    top:1201px;
    width:73px;
    height:20px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u234 {
    position:absolute;
    left:850px;
    top:1201px;
    width:73px;
    height:20px
}

.u244_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u244_line.png');
}

.u244_line {
    position:absolute;
    left:830px;
    top:1125px;
    width:90px;
    height:3px;
}

.u244 {
    position:absolute;
    left:830px;
    top:1125px;
    width:90px;
    height:3px
}

.u247_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u247_original.png');
}

.u247_container {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1550px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:1556px;
}

.u247 {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1550px
}

.u249_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u249_container {
    position:absolute;
    left:150px;
    top:498px;
    width:32px;
    height:32px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u249 {
    position:absolute;
    left:150px;
    top:498px;
    width:32px;
    height:32px
}

.u252_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u252_original.png');
}

.u252_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:450px;
}

#u252_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:450px;
}

.u252 {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:450px
}

.u255_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u255_original.png');
}

.u255_container {
    position:absolute;
    left:20px;
    top:40px;
    width:100px;
    height:40px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u255 {
    position:absolute;
    left:20px;
    top:40px;
    width:100px;
    height:40px
}

.u257_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u257_original.png');
}

.u257_container {
    position:absolute;
    left:125px;
    top:40px;
    width:100px;
    height:40px;
}

#u257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u257 {
    position:absolute;
    left:125px;
    top:40px;
    width:100px;
    height:40px
}

.u261_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u261_original.png');
}

.u261_container {
    position:absolute;
    left:15px;
    top:73px;
    width:690px;
    height:357px;
}

#u261_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:363px;
}

.u261 {
    position:absolute;
    left:15px;
    top:73px;
    width:690px;
    height:357px
}

.u263_disabled {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u263_disabled.png');
}

.u263_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u263_original.png');
}

.u263_container {
    position:absolute;
    left:590px;
    top:390px;
    width:90px;
    height:20px;
}

#u263_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u263 {
    position:absolute;
    left:590px;
    top:390px;
    width:90px;
    height:20px
}

.u273_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u273_original.png');
}

.u273_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:650px;
}

#u273_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:650px;
}

.u273 {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:650px
}

.u276_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u276_original.png');
}

.u276_container {
    position:absolute;
    left:20px;
    top:40px;
    width:100px;
    height:60px;
}

#u276_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u276 {
    position:absolute;
    left:20px;
    top:40px;
    width:100px;
    height:60px
}

.u278_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u255_original.png');
}

.u278_container {
    position:absolute;
    left:125px;
    top:40px;
    width:100px;
    height:40px;
}

#u278_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u278 {
    position:absolute;
    left:125px;
    top:40px;
    width:100px;
    height:40px
}

.u281_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u281_original.png');
}

.u281_container {
    position:absolute;
    left:14px;
    top:76px;
    width:690px;
    height:557px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:563px;
}

.u281 {
    position:absolute;
    left:14px;
    top:76px;
    width:690px;
    height:557px
}

.u283_disabled {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u263_disabled.png');
}

.u283_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u263_original.png');
}

.u283_container {
    position:absolute;
    left:589px;
    top:593px;
    width:90px;
    height:20px;
}

#u283_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u283 {
    position:absolute;
    left:589px;
    top:593px;
    width:90px;
    height:20px
}

.u287_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u18_original.png');
}

.u287_container {
    position:absolute;
    left:29px;
    top:110px;
    width:310px;
    height:125px;
}

#u287_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u287 {
    position:absolute;
    left:29px;
    top:110px;
    width:310px;
    height:125px
}

.u296_line {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u296_line.png');
}

.u296_line {
    position:absolute;
    left:589px;
    top:146px;
    width:90px;
    height:3px;
}

.u296 {
    position:absolute;
    left:589px;
    top:146px;
    width:90px;
    height:3px
}

.u300_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u300_container {
    position:absolute;
    left:354px;
    top:184px;
    width:18px;
    height:18px;
}

#u300_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u300 {
    position:absolute;
    left:354px;
    top:184px;
    width:18px;
    height:18px
}

.u302_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u302_container {
    position:absolute;
    left:376px;
    top:184px;
    width:18px;
    height:18px;
}

#u302_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u302 {
    position:absolute;
    left:376px;
    top:184px;
    width:18px;
    height:18px
}

.u304_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u304_container {
    position:absolute;
    left:398px;
    top:184px;
    width:18px;
    height:18px;
}

#u304_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u304 {
    position:absolute;
    left:398px;
    top:184px;
    width:18px;
    height:18px
}

.u306_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u306_container {
    position:absolute;
    left:420px;
    top:184px;
    width:18px;
    height:18px;
}

#u306_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u306 {
    position:absolute;
    left:420px;
    top:184px;
    width:18px;
    height:18px
}

.u308_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u308_container {
    position:absolute;
    left:442px;
    top:184px;
    width:18px;
    height:18px;
}

#u308_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u308 {
    position:absolute;
    left:442px;
    top:184px;
    width:18px;
    height:18px
}

.u310_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u310_container {
    position:absolute;
    left:464px;
    top:184px;
    width:18px;
    height:18px;
}

#u310_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u310 {
    position:absolute;
    left:464px;
    top:184px;
    width:18px;
    height:18px
}

.u312_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u312_container {
    position:absolute;
    left:486px;
    top:184px;
    width:18px;
    height:18px;
}

#u312_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u312 {
    position:absolute;
    left:486px;
    top:184px;
    width:18px;
    height:18px
}

.u314_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u314_container {
    position:absolute;
    left:508px;
    top:184px;
    width:18px;
    height:18px;
}

#u314_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u314 {
    position:absolute;
    left:508px;
    top:184px;
    width:18px;
    height:18px
}

.u316_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u74_original.png');
}

.u316_container {
    position:absolute;
    left:530px;
    top:184px;
    width:18px;
    height:18px;
}

#u316_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u316 {
    position:absolute;
    left:530px;
    top:184px;
    width:18px;
    height:18px
}

.u318_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u318_container {
    position:absolute;
    left:39px;
    top:359px;
    width:32px;
    height:32px;
}

#u318_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u318 {
    position:absolute;
    left:39px;
    top:359px;
    width:32px;
    height:32px
}

.u320_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u320_container {
    position:absolute;
    left:39px;
    top:499px;
    width:32px;
    height:32px;
}

#u320_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u320 {
    position:absolute;
    left:39px;
    top:499px;
    width:32px;
    height:32px
}

.u322_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u322_container {
    position:absolute;
    left:39px;
    top:429px;
    width:32px;
    height:32px;
}

#u322_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u322 {
    position:absolute;
    left:39px;
    top:429px;
    width:32px;
    height:32px
}

.u324_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u324_container {
    position:absolute;
    left:39px;
    top:564px;
    width:32px;
    height:32px;
}

#u324_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u324 {
    position:absolute;
    left:39px;
    top:564px;
    width:32px;
    height:32px
}

.u334_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u334_container {
    position:absolute;
    left:87px;
    top:251px;
    width:32px;
    height:32px;
}

#u334_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u334 {
    position:absolute;
    left:87px;
    top:251px;
    width:32px;
    height:32px
}

.u336_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u336_container {
    position:absolute;
    left:187px;
    top:251px;
    width:32px;
    height:32px;
}

#u336_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u336 {
    position:absolute;
    left:187px;
    top:251px;
    width:32px;
    height:32px
}

.u338_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u338_container {
    position:absolute;
    left:239px;
    top:251px;
    width:32px;
    height:32px;
}

#u338_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u338 {
    position:absolute;
    left:239px;
    top:251px;
    width:32px;
    height:32px
}

.u340_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u21_original.png');
}

.u340_container {
    position:absolute;
    left:287px;
    top:251px;
    width:32px;
    height:32px;
}

#u340_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u340 {
    position:absolute;
    left:287px;
    top:251px;
    width:32px;
    height:32px
}

.u342_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u342_original.png');
}

.u342_container {
    position:absolute;
    left:39px;
    top:253px;
    width:30px;
    height:30px;
}

#u342_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u342 {
    position:absolute;
    left:39px;
    top:253px;
    width:30px;
    height:30px
}

.u344_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u344_original.png');
}

.u344_container {
    position:absolute;
    left:42px;
    top:258px;
    width:20px;
    height:20px;
}

#u344_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u344 {
    position:absolute;
    left:42px;
    top:258px;
    width:20px;
    height:20px
}

.u346_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u346_original.png');
}

.u346_container {
    position:absolute;
    left:43px;
    top:258px;
    width:8px;
    height:20px;
}

#u346_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:26px;
}

.u346 {
    position:absolute;
    left:43px;
    top:258px;
    width:8px;
    height:20px
}

.u348_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u348_original.png');
}

.u348_container {
    position:absolute;
    left:140px;
    top:243px;
    width:30px;
    height:20px;
}

#u348_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u348 {
    position:absolute;
    left:140px;
    top:243px;
    width:30px;
    height:20px
}

.u350_original {
    background-image: url('../Overlay_-_Container_Details_Tab_files/u350_original.png');
}

.u350_container {
    position:absolute;
    left:139px;
    top:251px;
    width:32px;
    height:32px;
}

#u350_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u350 {
    position:absolute;
    left:139px;
    top:251px;
    width:32px;
    height:32px
}

