body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1410px;
    width:971px;
    height:244px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u0 {
    position:absolute;
    left:0px;
    top:1410px;
    width:971px;
    height:244px
}

.u3_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:827px;
}

.u3 {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px
}

.u5_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:616px;
}

.u5 {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px
}

.u8_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:488px;
    height:69px;
}

.u8 {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px
}

.u10_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:176px;
    top:521px;
    width:759px;
    height:124px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:765px;
    height:130px;
}

.u10 {
    position:absolute;
    left:176px;
    top:521px;
    width:759px;
    height:124px
}

.u13_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:191px;
    top:559px;
    width:539px;
    height:3px;
}

.u13 {
    position:absolute;
    left:191px;
    top:559px;
    width:539px;
    height:3px
}

.u14 {
    position:absolute;
    left:269px;
    top:570px;
    width:85px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:359px;
    top:570px;
    width:40px;
    height:26px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:26px;
}

.u16 {
    position:absolute;
    left:359px;
    top:570px;
    width:40px;
    height:26px
}

.u18 {
    position:absolute;
    left:530px;
    top:570px;
    width:85px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u16_original.png');
}

.u20_container {
    position:absolute;
    left:620px;
    top:570px;
    width:40px;
    height:26px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:26px;
}

.u20 {
    position:absolute;
    left:620px;
    top:570px;
    width:40px;
    height:26px
}

.u22_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:205px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:211px;
}

.u22 {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:205px
}

.u27 {
    position:absolute;
    left:465px;
    top:285px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u28 {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px
}

.u30_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:263px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:269px;
}

.u30 {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:263px
}

.u36_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px;
}

.u36 {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px
}

.u38_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:760px;
    top:605px;
    width:163px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:26px;
}

.u38 {
    position:absolute;
    left:760px;
    top:605px;
    width:163px;
    height:20px
}

.u45_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:760px;
    top:559px;
    width:165px;
    height:3px;
}

.u45 {
    position:absolute;
    left:760px;
    top:559px;
    width:165px;
    height:3px
}

.u48_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:510px;
    top:490px;
    width:18px;
    height:18px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u48 {
    position:absolute;
    left:510px;
    top:490px;
    width:18px;
    height:18px
}

.u50_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u50_container {
    position:absolute;
    left:532px;
    top:490px;
    width:18px;
    height:18px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u50 {
    position:absolute;
    left:532px;
    top:490px;
    width:18px;
    height:18px
}

.u52_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u52_container {
    position:absolute;
    left:554px;
    top:490px;
    width:18px;
    height:18px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u52 {
    position:absolute;
    left:554px;
    top:490px;
    width:18px;
    height:18px
}

.u54_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u54_container {
    position:absolute;
    left:576px;
    top:490px;
    width:18px;
    height:18px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u54 {
    position:absolute;
    left:576px;
    top:490px;
    width:18px;
    height:18px
}

.u56_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u56_container {
    position:absolute;
    left:598px;
    top:490px;
    width:18px;
    height:18px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u56 {
    position:absolute;
    left:598px;
    top:490px;
    width:18px;
    height:18px
}

.u58_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u58_container {
    position:absolute;
    left:620px;
    top:490px;
    width:18px;
    height:18px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u58 {
    position:absolute;
    left:620px;
    top:490px;
    width:18px;
    height:18px
}

.u60_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u60_container {
    position:absolute;
    left:642px;
    top:490px;
    width:18px;
    height:18px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u60 {
    position:absolute;
    left:642px;
    top:490px;
    width:18px;
    height:18px
}

.u62_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u62_container {
    position:absolute;
    left:664px;
    top:490px;
    width:18px;
    height:18px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u62 {
    position:absolute;
    left:664px;
    top:490px;
    width:18px;
    height:18px
}

.u64_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u64_container {
    position:absolute;
    left:686px;
    top:490px;
    width:18px;
    height:18px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u64 {
    position:absolute;
    left:686px;
    top:490px;
    width:18px;
    height:18px
}

.u67_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u67 {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px
}

.u71_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u71 {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px
}

.u74_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:81px;
}

.u74 {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px
}

.u79_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u79 {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px
}

.u81_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u81_container {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u81 {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px
}

.u83_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u83_container {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u83 {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px
}

.u85_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u85_container {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u85 {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px
}

.u91_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u91_original.png');
}

.u91_container {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u91 {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px
}

.u94_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u94_original.png');
}

.u94_container {
    position:absolute;
    left:170px;
    top:660px;
    width:770px;
    height:207px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u94 {
    position:absolute;
    left:170px;
    top:660px;
    width:770px;
    height:207px
}

.u99_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u99_container {
    position:absolute;
    left:510px;
    top:720px;
    width:32px;
    height:32px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u99 {
    position:absolute;
    left:510px;
    top:720px;
    width:32px;
    height:32px
}

.u101_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u101_container {
    position:absolute;
    left:620px;
    top:722px;
    width:32px;
    height:32px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u101 {
    position:absolute;
    left:620px;
    top:722px;
    width:32px;
    height:32px
}

.u103_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u103_container {
    position:absolute;
    left:510px;
    top:762px;
    width:32px;
    height:32px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u103 {
    position:absolute;
    left:510px;
    top:762px;
    width:32px;
    height:32px
}

.u108_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u94_original.png');
}

.u108_container {
    position:absolute;
    left:170px;
    top:883px;
    width:770px;
    height:207px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u108 {
    position:absolute;
    left:170px;
    top:883px;
    width:770px;
    height:207px
}

.u113_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u113_container {
    position:absolute;
    left:510px;
    top:943px;
    width:32px;
    height:32px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u113 {
    position:absolute;
    left:510px;
    top:943px;
    width:32px;
    height:32px
}

.u115_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u115_container {
    position:absolute;
    left:620px;
    top:945px;
    width:32px;
    height:32px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u115 {
    position:absolute;
    left:620px;
    top:945px;
    width:32px;
    height:32px
}

.u117_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u117_container {
    position:absolute;
    left:510px;
    top:985px;
    width:32px;
    height:32px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u117 {
    position:absolute;
    left:510px;
    top:985px;
    width:32px;
    height:32px
}

.u119_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u119_container {
    position:absolute;
    left:620px;
    top:987px;
    width:32px;
    height:32px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u119 {
    position:absolute;
    left:620px;
    top:987px;
    width:32px;
    height:32px
}

.u127_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u127_container {
    position:absolute;
    left:511px;
    top:821px;
    width:18px;
    height:18px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u127 {
    position:absolute;
    left:511px;
    top:821px;
    width:18px;
    height:18px
}

.u129_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u129_container {
    position:absolute;
    left:533px;
    top:821px;
    width:18px;
    height:18px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u129 {
    position:absolute;
    left:533px;
    top:821px;
    width:18px;
    height:18px
}

.u131_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u131_container {
    position:absolute;
    left:555px;
    top:821px;
    width:18px;
    height:18px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u131 {
    position:absolute;
    left:555px;
    top:821px;
    width:18px;
    height:18px
}

.u133_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u133_container {
    position:absolute;
    left:577px;
    top:821px;
    width:18px;
    height:18px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u133 {
    position:absolute;
    left:577px;
    top:821px;
    width:18px;
    height:18px
}

.u135_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u135_container {
    position:absolute;
    left:599px;
    top:821px;
    width:18px;
    height:18px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u135 {
    position:absolute;
    left:599px;
    top:821px;
    width:18px;
    height:18px
}

.u137_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u137_container {
    position:absolute;
    left:621px;
    top:821px;
    width:18px;
    height:18px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u137 {
    position:absolute;
    left:621px;
    top:821px;
    width:18px;
    height:18px
}

.u139_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u139_container {
    position:absolute;
    left:643px;
    top:821px;
    width:18px;
    height:18px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u139 {
    position:absolute;
    left:643px;
    top:821px;
    width:18px;
    height:18px
}

.u141_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u141_container {
    position:absolute;
    left:665px;
    top:821px;
    width:18px;
    height:18px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u141 {
    position:absolute;
    left:665px;
    top:821px;
    width:18px;
    height:18px
}

.u143_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u143_container {
    position:absolute;
    left:687px;
    top:821px;
    width:18px;
    height:18px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u143 {
    position:absolute;
    left:687px;
    top:821px;
    width:18px;
    height:18px
}

.u145_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u145_container {
    position:absolute;
    left:709px;
    top:821px;
    width:18px;
    height:18px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u145 {
    position:absolute;
    left:709px;
    top:821px;
    width:18px;
    height:18px
}

.u147_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u147_container {
    position:absolute;
    left:511px;
    top:842px;
    width:18px;
    height:18px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u147 {
    position:absolute;
    left:511px;
    top:842px;
    width:18px;
    height:18px
}

.u149_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u149_container {
    position:absolute;
    left:533px;
    top:842px;
    width:18px;
    height:18px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u149 {
    position:absolute;
    left:533px;
    top:842px;
    width:18px;
    height:18px
}

.u151_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u151_original.png');
}

.u151_container {
    position:absolute;
    left:556px;
    top:842px;
    width:8px;
    height:18px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u151 {
    position:absolute;
    left:556px;
    top:842px;
    width:8px;
    height:18px
}

.u155_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u155_container {
    position:absolute;
    left:511px;
    top:1046px;
    width:18px;
    height:18px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u155 {
    position:absolute;
    left:511px;
    top:1046px;
    width:18px;
    height:18px
}

.u157_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u157_container {
    position:absolute;
    left:533px;
    top:1046px;
    width:18px;
    height:18px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u157 {
    position:absolute;
    left:533px;
    top:1046px;
    width:18px;
    height:18px
}

.u159_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u159_container {
    position:absolute;
    left:555px;
    top:1046px;
    width:18px;
    height:18px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u159 {
    position:absolute;
    left:555px;
    top:1046px;
    width:18px;
    height:18px
}

.u161_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u161_container {
    position:absolute;
    left:577px;
    top:1046px;
    width:18px;
    height:18px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u161 {
    position:absolute;
    left:577px;
    top:1046px;
    width:18px;
    height:18px
}

.u163_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u163_container {
    position:absolute;
    left:599px;
    top:1046px;
    width:18px;
    height:18px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u163 {
    position:absolute;
    left:599px;
    top:1046px;
    width:18px;
    height:18px
}

.u165_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u165_container {
    position:absolute;
    left:621px;
    top:1046px;
    width:18px;
    height:18px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u165 {
    position:absolute;
    left:621px;
    top:1046px;
    width:18px;
    height:18px
}

.u167_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u167_container {
    position:absolute;
    left:643px;
    top:1046px;
    width:18px;
    height:18px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u167 {
    position:absolute;
    left:643px;
    top:1046px;
    width:18px;
    height:18px
}

.u169_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u169_container {
    position:absolute;
    left:665px;
    top:1046px;
    width:18px;
    height:18px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u169 {
    position:absolute;
    left:665px;
    top:1046px;
    width:18px;
    height:18px
}

.u171_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u171_container {
    position:absolute;
    left:687px;
    top:1046px;
    width:18px;
    height:18px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u171 {
    position:absolute;
    left:687px;
    top:1046px;
    width:18px;
    height:18px
}

.u173_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u173_container {
    position:absolute;
    left:709px;
    top:1046px;
    width:18px;
    height:18px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u173 {
    position:absolute;
    left:709px;
    top:1046px;
    width:18px;
    height:18px
}

.u175_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u175_container {
    position:absolute;
    left:511px;
    top:1067px;
    width:18px;
    height:18px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u175 {
    position:absolute;
    left:511px;
    top:1067px;
    width:18px;
    height:18px
}

.u177_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u177_container {
    position:absolute;
    left:533px;
    top:1067px;
    width:18px;
    height:18px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u177 {
    position:absolute;
    left:533px;
    top:1067px;
    width:18px;
    height:18px
}

.u179_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u151_original.png');
}

.u179_container {
    position:absolute;
    left:556px;
    top:1067px;
    width:8px;
    height:18px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u179 {
    position:absolute;
    left:556px;
    top:1067px;
    width:8px;
    height:18px
}

.u181_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u181_original.png');
}

.u181_container {
    position:absolute;
    left:750px;
    top:706px;
    width:176px;
    height:147px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u181 {
    position:absolute;
    left:750px;
    top:706px;
    width:176px;
    height:147px
}

.u183_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u183_original.png');
}

.u183_container {
    position:absolute;
    left:850px;
    top:827px;
    width:73px;
    height:20px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u183 {
    position:absolute;
    left:850px;
    top:827px;
    width:73px;
    height:20px
}

.u190_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u190_line.png');
}

.u190_line {
    position:absolute;
    left:830px;
    top:751px;
    width:90px;
    height:3px;
}

.u190 {
    position:absolute;
    left:830px;
    top:751px;
    width:90px;
    height:3px
}

.u192_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u181_original.png');
}

.u192_container {
    position:absolute;
    left:750px;
    top:926px;
    width:176px;
    height:147px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u192 {
    position:absolute;
    left:750px;
    top:926px;
    width:176px;
    height:147px
}

.u194_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u183_original.png');
}

.u194_container {
    position:absolute;
    left:850px;
    top:1047px;
    width:73px;
    height:20px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u194 {
    position:absolute;
    left:850px;
    top:1047px;
    width:73px;
    height:20px
}

.u201_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u201_line.png');
}

.u201_line {
    position:absolute;
    left:830px;
    top:971px;
    width:90px;
    height:3px;
}

.u201 {
    position:absolute;
    left:830px;
    top:971px;
    width:90px;
    height:3px
}

.u203_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u67_original.png');
}

.u203_container {
    position:absolute;
    left:180px;
    top:717px;
    width:310px;
    height:125px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u203 {
    position:absolute;
    left:180px;
    top:717px;
    width:310px;
    height:125px
}

.u207_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u67_original.png');
}

.u207_container {
    position:absolute;
    left:180px;
    top:943px;
    width:310px;
    height:125px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u207 {
    position:absolute;
    left:180px;
    top:943px;
    width:310px;
    height:125px
}

.u213_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u91_original.png');
}

.u213_container {
    position:absolute;
    left:820px;
    top:650px;
    width:150px;
    height:40px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u213 {
    position:absolute;
    left:820px;
    top:650px;
    width:150px;
    height:40px
}

.u218_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u218_original.png');
}

.u218_container {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u218 {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px
}

.u220_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u220_line.png');
}

.u220_line {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px;
}

.u220 {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px
}

.u225_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u225_original.png');
}

.u225_container {
    position:absolute;
    left:170px;
    top:1147px;
    width:770px;
    height:213px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:219px;
}

.u225 {
    position:absolute;
    left:170px;
    top:1147px;
    width:770px;
    height:213px
}

.u229_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u229_original.png');
}

.u229_container {
    position:absolute;
    left:180px;
    top:1205px;
    width:310px;
    height:125px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u229 {
    position:absolute;
    left:180px;
    top:1205px;
    width:310px;
    height:125px
}

.u232_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u232_container {
    position:absolute;
    left:510px;
    top:1207px;
    width:32px;
    height:32px;
}

#u232_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u232 {
    position:absolute;
    left:510px;
    top:1207px;
    width:32px;
    height:32px
}

.u234_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u234_container {
    position:absolute;
    left:620px;
    top:1209px;
    width:32px;
    height:32px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u234 {
    position:absolute;
    left:620px;
    top:1209px;
    width:32px;
    height:32px
}

.u236_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u236_container {
    position:absolute;
    left:510px;
    top:1249px;
    width:32px;
    height:32px;
}

#u236_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u236 {
    position:absolute;
    left:510px;
    top:1249px;
    width:32px;
    height:32px
}

.u238_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u79_original.png');
}

.u238_container {
    position:absolute;
    left:620px;
    top:1251px;
    width:32px;
    height:32px;
}

#u238_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u238 {
    position:absolute;
    left:620px;
    top:1251px;
    width:32px;
    height:32px
}

.u247_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u247_container {
    position:absolute;
    left:511px;
    top:1311px;
    width:18px;
    height:18px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u247 {
    position:absolute;
    left:511px;
    top:1311px;
    width:18px;
    height:18px
}

.u249_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u48_original.png');
}

.u249_container {
    position:absolute;
    left:533px;
    top:1311px;
    width:18px;
    height:18px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u249 {
    position:absolute;
    left:533px;
    top:1311px;
    width:18px;
    height:18px
}

.u252_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u181_original.png');
}

.u252_container {
    position:absolute;
    left:750px;
    top:1190px;
    width:176px;
    height:147px;
}

#u252_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u252 {
    position:absolute;
    left:750px;
    top:1190px;
    width:176px;
    height:147px
}

.u254_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u183_original.png');
}

.u254_container {
    position:absolute;
    left:850px;
    top:1311px;
    width:73px;
    height:20px;
}

#u254_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u254 {
    position:absolute;
    left:850px;
    top:1311px;
    width:73px;
    height:20px
}

.u261_line {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u261_line.png');
}

.u261_line {
    position:absolute;
    left:830px;
    top:1235px;
    width:90px;
    height:3px;
}

.u261 {
    position:absolute;
    left:830px;
    top:1235px;
    width:90px;
    height:3px
}

.u267_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u267_original.png');
}

.u267_container {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1660px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:1666px;
}

.u267 {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1660px
}

.u269_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u269_original.png');
}

.u269_container {
    position:absolute;
    left:110px;
    top:250px;
    width:720px;
    height:373px;
}

#u269_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:373px;
}

.u269 {
    position:absolute;
    left:110px;
    top:250px;
    width:720px;
    height:373px
}

.u278_disabled {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u278_disabled.png');
}

.u278_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u278_original.png');
}

.u278_container {
    position:absolute;
    left:120px;
    top:571px;
    width:700px;
    height:40px;
}

#u278_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:46px;
}

.u278 {
    position:absolute;
    left:120px;
    top:571px;
    width:700px;
    height:40px
}

.u281_disabled {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u281_disabled.png');
}

.u281_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u281_original.png');
}

.u281_container {
    position:absolute;
    left:710px;
    top:581px;
    width:90px;
    height:20px;
}

#u281_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u281 {
    position:absolute;
    left:710px;
    top:581px;
    width:90px;
    height:20px
}

.u283_disabled {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u281_disabled.png');
}

.u283_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u281_original.png');
}

.u283_container {
    position:absolute;
    left:600px;
    top:581px;
    width:90px;
    height:20px;
}

#u283_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u283 {
    position:absolute;
    left:600px;
    top:581px;
    width:90px;
    height:20px
}

.u285_original {
    background-image: url('../Overlay_-_Unacceptable_Materials_files/u285_original.png');
}

.u285_container {
    position:absolute;
    left:119px;
    top:257px;
    width:701px;
    height:15px;
}

#u285_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:21px;
}

.u285 {
    position:absolute;
    left:119px;
    top:257px;
    width:701px;
    height:15px
}

