* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u0_original.png");
}

* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u2_original.png");
}

* html .u4_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u4_original.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u6_original.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u6_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u15_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u26_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u26_original.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u43_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u6_original.png");
}

* html .u48_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u50_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u52_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u61_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u61_original.png");
}

* html .u65_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u65_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u70_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u18_original.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u88_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u90_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u92_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u94_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u96_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u108_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u110_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u110_original.png");
}

* html .u114_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u116_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u118_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u120_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u122_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u132_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u134_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u136_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u138_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u110_original.png");
}

* html .u142_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u144_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u147_original.png");
}

* html .u149_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u149_original.png");
}

* html .u156_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u156_line.png");
}

* html .u158_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u147_original.png");
}

* html .u160_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u149_original.png");
}

* html .u167_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u167_line.png");
}

* html .u169_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u147_original.png");
}

* html .u171_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u149_original.png");
}

* html .u178_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u178_line.png");
}

* html .u180_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u147_original.png");
}

* html .u187_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u187_line.png");
}

* html .u192_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u194_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u196_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u198_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u200_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u202_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u204_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u206_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u208_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u86_original.png");
}

* html .u210_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u15_original.png");
}

* html .u214_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u15_original.png");
}

* html .u224_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u224_original.png");
}

* html .u226_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u226_line.png");
}

* html .u227_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u227_original.png");
}

* html .u231_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u231_original.png");
}

* html .u233_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u149_original.png");
}

* html .u235_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Standard_Footer_files/u22_original.png");
}

* html .u238_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Residential_Dumpster_Selection_Recommended_files/u238_original.png");
}

