/**
 * Static Template CSS
 *
 * @author          kfargaso, aalexan1
 * @tested          Site Consolidation, Careers, Manhatta Beach (failed because of invalid HTML)
 */
 
/**
 * R1 Overrides
 */
 
#mainnav_modes,
#topnav { line-height: 14px; }
#main_content label.error { display: inline-block; padding: 0; margin: 0; }

/**
 * No Search
 */
 
body.no-search #mainnav{
    width:100% !important;
}
body.no-search #header{
    background-image:none !important;
}
body.no-search #topnav{
    width: 700px !important;
}
body.no-search #search_top{
    display:none;
}
body.no-search #topnav ul li.noborder{
    margin-right: 2px !important;
    padding-right: 0px !important;

}

/**
 */
 
#header { }
#header-separation {
    border-bottom: 10px solid #006A3C;
    margin-top: 10px;
    margin-bottom: 10px; }

/**
 */
     
#footer-static-template { height: 50px; }

#footer-static-template ul li {
    border-right:1px solid #ccc;
    font-size:12px;
    padding:0 15px 0 0;
    display:block;
    float:left;
    list-style:none outside none;
    margin:20px 20px 0 0;
}

#footer-static-template ul li a{
    color:#FFF;
    text-decoration:none;
}
#footer-static-template ul li a:hover{
    text-decoration:underline;
}
#footer-static-template #copyright{
    float:right;
    color:#FFF;
    font-size:12px;
    margin:20px 0px 0px 0;
}
div.rich-media-block{
    margin-top:10px;
}
#content .sitemap ul.vertical li{
float: none;
margin: 0 0 15px;
}

#header h1{
    font-size: 24px;
    text-align: right; }
#content h2 { font-size:18px; font-weight:normal; margin:14px 0 20px; color:#222222;  }
#content .header h2 { margin-bottom: 5px;} /* KF R2 merge hack */

    /*
    #content h3 { margin:20px 0 5px; }
    #content p, #content ul, #content h2, #content h1 { margin-right:280px; }
    #content p { margin-bottom:5px; }
    */
    
    #content ul { font-size:12px; color:#222222; margin:0 0 15px 0; }
    #content ul li { margin:0 0 8px 3px; padding:0 0 0 8px; background:url('/_assets/images/icons/icon_bullet_defaultsub.gif') top left no-repeat; }
    #content img { display:block; }

    /* TODO: Removed
    #right_content { width:340px; float:right; border-left:20px solid #fff; border-bottom:20px solid #fff; }
    #right_content img { display:block; }
    #right_content ul { margin:0; }
    #right_content ul li { font-size:12px; }
    */

    /*
    #right_content .rightcontentpod { padding:15px; border-bottom:15px solid #fff; margin:0; background:none; }
    #right_content .rightcontentpod a { padding:0 0 0 70px; }
    #right_content .rightcontentpod a strong { margin:0 0 5px 0; color:#222222; }
    #right_content .rightcontentpod a span { display:block; color:#063; font-weight:bold; margin:15px 0 0 0; }
    #right_content .foundinthissection { border-top:2px solid #E0DED0; }
    */




/**
 * @project             wm-redesign
 * @inherited           wm-redesign-r1
 */


/**
 * Utilities
 *
 * Utilities
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 *
 * @todo                Consolidate.
 */

.hide { display: none; }


/**
 * Clearfix
 *
 * Clearfix
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 *
 * @todo                Consolidate.
 */

.clearfix:after,
.tabbed:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix,
* html .tabbed             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix,
*:first-child+html .tabbed { zoom: 1; } /* IE7 */

/**
 * HTML elements
 *
 * HTML elements
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 *
 * @todo                Consolidate.
 */

input {
    border: 1px #E0DED0 solid;
    padding: 4px 3px; }


/**
 * Header
 *
 * Header
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#header.simple-header,
#header.simplified-header {
    border-bottom: 10px solid #006A3C;
    background-position: 757px 0px; 
    padding: 0 0 1em 0;
    margin: 0 10px 0 10px; }


/**
 * Main Copy area
 *
 * Main Copy area
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#content h1 { /*margin-bottom: .5em; margin-top: .2em;*/ }
#content ul { padding-bottom: 0; }
#content {
    line-height: 1.5em;
    /* The line-height should really be re-casted; the readability of WM.com is lacking */
    padding-bottom: 2em;
    min-height: 40em; }
#content p,
#content h1,
#content h2,
#content ul { margin-right: 0; }
#content ul { margin-left: .5em; }
#content ul li {
    padding: 0 0 0 1em;
    background: url(http://www.wm.com/_assets/images/icons/icon_bullet_defaultsub.gif) no-repeat .3em 0; }
#content ol { list-style: decimal; margin-left: 2em; }
#content ol li { }
#content dl { margin: .5em 0 .5em; }
#content dt { font-weight: bold; }
/* #content dd { padding-left: 1em; }
 KF removed 3/23/11 this conflicts with R2 style tables account-section
#content table { position: relative; margin: 1em 0 2.5em; width: 100%; border: 1px #E0DED0 solid; }
#content table th { background: #E0DED0; padding: 4px; }
#content table td { padding: 4px; border-bottom: 1px #E0DED0 solid; border-right: 1px #E0DED0 solid; }
*/
#content caption { font-size: .9em; color: #777; width: 100%; text-align: left; }


/**
 * Left Nav
 *
 * Left Nav
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#left_nav { padding-top: 35px; padding-bottom: 35px; }
#left_nav ul li a { }
#left_nav ul li { padding: 0; margin-left: 0;}
#left_nav li,
#left_nav a,
#left_nav ul { *zoom: 1; list-style-type:none;}
#left_nav li ul li ul li a {
    margin: 17px 5px 17px 25px;
    *margin: 9px 5px 9px 25px !important; }
#left_nav li ul li ul li a.on { *margin: 9px 5px 9px 14px !important; }

/**
 * Right Rail
 *
 * Right Rail
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#right_rail { padding-top: 17px; }
#right_rail h3 { font-size: 12px; color: #222; }
#right_rail p,
.modal-window-container p { margin: 10px 0 10px; }
#right_rail p:first-child,
.modal-window-container p:first-child { margin-top: 0; }
#right_rail p:last-child,
.modal-window-container p:last-child { margin-bottom: 0; }
#right_rail ul { margin-right: 0; }
#right_rail ul { margin-left: .5em; }
#right_rail ul li {
    padding: 0 0 0 1em;
    margin: 0 0 8px 3px;
    background: url(http://www.wm.com/_assets/images/icons/icon_bullet_defaultsub.gif) no-repeat .3em 0; }

.module { margin-bottom: 1em; }
.module h3 { padding: 5px 5px 7px; font-size: 16px; }
.module .module-inner {
    border: 2px #E0DED0 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
#right_content .module .module-inner { 
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
.module .module-header { background: #E0DED0; }
.module .module-content { padding: 5px; }

.module-type-text {}

.module-contact-info { }
.module-contact-info dd { margin: 0; padding: 0;  }


/**
 * Site Consolidation CSS
 */

/**
 * Careers Section CSS
 *
 * @note            To be merged with global.css from WM R1 Redesign project.
 * 
 * @author          aalexan1
 * @project         wm-redesign
 * @package         wm-redesign-careers
 */
 
 
/**
 * @todo            Move up to Sections: Utilities and HTML elements
 */
 
.align-left,
.float-right { float: left; margin: 0 1em 1em 0; }
.align-right,
.float-right { float: right; margin: 0 0 1em 1em; }
.clear-left { clear: left; }
.clear-right { clear: right; }

sup { vertical-align: super; font-size: .9em; }
sub { vertical-align: sub; font-size: .9em; }
abbr { border-bottom: 1px #222 dotted; }


/**
 * Breadcrumb
 *
 * Breadcrumb
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#breadcrumb { padding: 15px 0 20px !important; }
#breadcrumb li { display: inline; }
#breadcrumb a { text-decoration: none; }
#breadcrumb a:visited { }
#breadcrumb a:hover { }
#breadcrumb a:active { }


/**
 * Years List
 *
 * A presentation of years
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

ul.years { margin: 10px 0 15px !important; padding: 0 !important; font-size: 1.5em !important; }
ul.years a { text-decoration: none; }
ul.years li { background: none !important; margin: 0 !important; padding: 0 !important; display: inline; }
ul.years span.sep { color: #ccc; }


/**
 * Module window overrides
 *
 * Module window overrides
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.modal-window-container h2 { font-size: 33px; color: #555; margin: 0 10px 10px 10px; }
.modal-window-container .modal-window-container-inner { margin: 10px; height: 75%; overflow-y: auto; }


/**
 * Module Link List
 *
 * Desc
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.module-link-list dt a { color: #000; text-decoration: none; }
.module-link-list dt a:hover { color: #00693c; text-decoration: none; }
.module-link-list dd { padding-left: 0 !important; }
.module-link-list dd p { margin-top: .25em !important; }
.module-link-list a.more_links { font-weight: bold; }
 
 
/**
 * Module Figure Caption
 *
 * Desc
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */
 
.module-figure-caption { margin: 1em 0; }
.module-figure-caption p:first-of-type { margin-top: 0 !important; }
.module-figure-caption img { display: block; margin: 0; }
.module-figure-caption .grid_1 img { width: auto; max-width: 40px; *width: auto !important; *width: 40px; }
.module-figure-caption .grid_2 img { width: auto; max-width: 100px; *width: auto !important; *width: 100px; }
.module-figure-caption .grid_3 img { width: auto; max-width: 160px; *width: auto !important; *width: 160px; }
.module-figure-caption .grid_4 img { width: auto; max-width: 220px; *width: auto !important; *width: 220px; }
.module-figure-caption .grid_5 img { width: auto; max-width: 280px; *width: auto !important; *width: 280px; }
.module-figure-caption .grid_6 img { width: auto; max-width: 340px; *width: auto !important; *width: 340px; }
 
.figcaption { 
    display: block; 
    margin-top: .5em; 
    /*
    line-height: 1.25em; 
    font-size: .9em;
    */
    /* Why? */
    font-size: 12px; 
    color: #777; 
    width: 100%; 
    text-align: left; }
    
/* Module Types for Pages and Right Rail */
.module-two-column .figcaption { }
.module-two-column .figcaption ul { float: none !important; margin: 1em 0 !important; }
.module-two-column ul { float: left; margin: 0 !important; padding: 0 !important; }
.module-two-column li { margin: 0 0 .5em 0 !important; }
 
 
/**
 * Sub-level headers
 *
 * Sub-level headers
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */
 
.sub-level h1 { float: left; width: 75% !important; }
.sub-level a { display: inline-block; *zoom: 1; *display: inline; float: right; width: 25%; margin: 1.25em 0 0 0; }


/**
 * Cross-browser, print sensitive FAQ
 *
 * A model for FAQs.
 *
 * @author              aalexan1
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.faq-toggle-list { margin: 10px 0 15px !important; }

.faq-toggle-list dt,
.faq-toggle-list dd { clear: left; }

.faq-toggle-list dd p { margin: 10px 0 15px !important; }

.faq-toggle-list dt { 
    font-weight: bold; 
    cursor: pointer; 
    color:#006A3C; 
    text-decoration:underline; } /*kf*/
.faq-toggle-list dd { 
    padding: 0 !important;
    display: none; }
.faq-toggle-list dd div { }
.toggle-next {
        background: url(http://www.wm.com/_assets/images/icons/icon_faqs_plusminus.gif) 0 3px no-repeat;
        padding: 0 0 0 14px; }
div.faq-header .toggle-all {
        cursor: pointer; 
        color:#006A3C; 
        text-decoration:underline;
        background: url(http://www.wm.com/_assets/images/icons/icon_faqs_plusminus.gif) 0 1px no-repeat;
        padding: 0 0 0 14px; }
div.faq-header .toggle-all-active { background-position: 0 -90px; }
.toggle-next-active { background-position: 0 -88px; }
.faq-toggle-list .faq-answer-container { }

div.faq-container { }
div.faq-header { border-bottom: 1px #ccc solid; margin: 0; padding: 2px 0; text-align: right; }
ul.faq-header-inner { margin: 0 !important; padding: 0 !important; }
div.faq-header li { padding: 0 !important; margin: 0 !important; background: none !important; }
#content div.faq-header h3 { float: left; margin: 0; padding: 0; }


/**
 * Print media
 *
 * For print media
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

@media print {

    .faq-header { display: none !important; }
    .toggle-next { background: none !important; padding: 0 !important; }
    .faq-toggle-list dd { 
        display: block !important;
    }
    
}


/**
 * Next section
 *
 * Description
 *
 * @author              dev
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              all
 * @valid               true
 * NOTE: this can be removed after R1 and R2 are merged
 */

#content ul.delim-list-alternate li { margin-bottom: 0; }
ul.delim-list-alternate li.first-child,
    ul.delim-list-alternate li.first {
        padding-left: 0px; 
		background-image:none !important;
		}


/**
 * Careers CSS above
 */
 
html { overflow-y: scroll; }
body,
input,
textarea { line-height: 1.6; text-rendering: optimizeLegibility; }
#right_content,
input,
textarea { line-height: 1.25em; }

.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; *zoom: 1 !important; *display: inline !important; }

#carousel a { 
    opacity: .8; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	cursor: pointer; }
#carousel a.btn_cta:hover { 
    opacity: 1; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
    background-image: url(/_assets/img-ui/btn_cta_right_hover.gif);
    }
#carousel a.btn_cta:hover span {    
    background-image: url(/_assets/img-ui/btn_cta_left_hover.gif);
    display: block;
    background-repeat: no-repeat;
}
#content label { padding: .6em 0 0 0; display: inline-block; *zoom: 1; *display: inline; }
#content input.text { padding: 5px; border: 1px #bbb solid; -moz-box-shadow: 1px 1px 3px #ccc inset; -webkit-box-shadow: 1px 1px 3px #ccc inset; box-shadow: 1px 1px 3px #ccc inset; }
#content h3 { margin: .7em 0; }
#content ul { margin: .7em 0; padding: 0; }
#page ol { list-style: decimal; margin-left: 20px; }
#content h4 { margin: .7em 0; }
#content dt { margin: .7em 0; }
#content dd { margin: .7em 0; padding: 0; }

/**
 * Buttons: The Season Finale
 */
 
#main_content .btn { }
#main_content .btn input.submit { }
#main_content .btn input.button { }
#main_content .btn_cta_lg { display: inline-block; *zoom: 1; *display: inline; }
#main_content .btn_cta { }
#right_rail .btn { }
#right_rail .btn input.submit { }
#right_rail .btn input.button { }
#right_rail .btn_cta_lg { }
#right_rail .btn_cta { }

/* block? we usually use these in the right rail, but what about elsewhere? */
a.btn_cta_lg { 
    line-height: 1.25;
    text-shadow: 1px 1px 1px #f3f2ec; 
    padding-right: 2.5em;
    /*display: inline-block; *zoom: 1; *display: inline;*/ }
a.btn_cta_lg span {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 20px;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff; }

a.btn_cta { 
    line-height: 1.5;
    display: inline-block; 
    *zoom: 1; 
    *display: inline; }
a.btn_cta span {
    display: block; 
    cursor: pointer; 
    text-shadow: 0 -1px 0 #022b18 !important;
    font-weight: normal;
    padding-top: 8px;
    padding-right: 35px;
    padding-left: 20px; 
    color:#fff !important;
    font-size: 12px; }

.btn { 
    background:url('http://www.wm.com/_assets/images/buttons/btn_cta_right.gif') right top no-repeat;
    display: inline-block;
    *zoom: 1;
    *display: inline; 
    padding: 0; 
    cursor: pointer; }
.btn input.submit { 
    background: url('http://www.wm.com/_assets/images/buttons/btn_cta_left.gif') left top no-repeat; 
    display: block; 
    cursor: pointer; 
    text-shadow: 0 -1px 0 #022b18 !important;
    font-weight: normal;
    color:#fff !important; 
    height:34px; 
    padding: 0 35px 0 20px; 
    border: none;
    margin: 0; 
    font-size: 12px; }
    
#right_content h4 { margin: .5em 0; }
#right_content ul { margin: .5em 0; }
.grid_null { width: auto !important; }



/**
 * Carousel
 *
 * @see             jCarousel "WM" Skin
 */
 
 
/**
 * Social Networking Links
 */

.social-networking-services a { 
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px; 
    display: block; }
.social-networking-services .fb { /*background-image: url(http://dummyimage.com/20x20/ccc/fff);*/ }
.social-networking-services .tw { /*background-image: url(http://dummyimage.com/20x20/000/fff);*/ }
.social-networking-services .lin { /*background-image: url(http://dummyimage.com/20x20/c30/fff);*/ }

.social-networking-services-icons { position: relative; top: -0.25em; }
.social-networking-services-icons .fb { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-medium.png) -10px -11px no-repeat; width: 40px; height: 40px; }
.social-networking-services-icons .tw { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-medium.png) -58px -11px no-repeat; width: 40px; height: 40px;  }
.social-networking-services-icons .lin { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-medium.png) -105px -11px no-repeat; width: 40px; height: 40px; }
.social-networking-services-icons { text-align: center; padding-top: 0 !important; }
.social-networking-services-icons li { 
    float: none !important; 
    display: inline-block !important; 
    *zoom: 1 !important; 
    *display: inline !important; 
    width: auto !important; }
.social-networking-services-icons a { 
    padding: 0; 
    opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
    height: 38px;
    width: 38px;
    text-indent: -9999px; }
.social-networking-services-icons a:hover {
    opacity: .8; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80); }


/**
 * Careers Upcoming Events
 */
 
#upcoming-events { 
    background: url(/_assets/img-ui/careers/upcoming-events-sprite.png) top left no-repeat;
    height: 44px;
    color: #fff; }
    
.latest-event { 
    text-align: left;
    line-height: 2;
    position: relative;
    top: -0.05em;
    width: 595px;
    vertical-align: middle;
    *vertical-align: super;
    display: inline-block;
    *zoom: 1;
    *display: inline; }
.latest-event a { 
    padding: 0 0 0 1em;
    font-weight: bold; }
.latest-event a:visited { }
.latest-event a:hover { color: #fff; }
.latest-event a:active { }

.section-link {
    width: 145px;
    height: 44px;
    line-height: 1.35;
    display: inline-block;
    *zoom: 1;
    *display: inline; }
.section-link a {
    width: 145px;
    background: url(/_assets/img-ui/careers/upcoming-events-sprite.png) 0 -44px no-repeat;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 13px 10px 10px 9px; 
    color: #fff; 
    text-decoration: none;
    font-size: 13px;
    text-shadow: 0 0 0.2em #024f2d;
    font-weight: bold; }
.section-link a:visited { }
.section-link a:hover { 
    /*margin-left: 2px;
    background-position: 0 -44px !important;*/
    text-decoration: none; }
.section-link a:active { }
 
 
/**
 * Careers Sections
 */

#sections { line-height: 1.25em; } 
#sections h2 { margin: 0; border-bottom: 3px #7ab700 solid; padding: 5px 0 5px; }
#sections ul { }
#sections ul li { 
    padding: 0; 
    margin: 0 15px 0 0; 
    background: none; 
    width: 243px;
    float: left; }
#sections .section-inner { }
#sections .last-child { margin-right: 0; }


/**
 * Careers Offers
 */
 
#offers {
    line-height: 1.25em; 
    padding: 0 0 2.5em 0;
    margin: 1.5em 0 1em 0;
    text-shadow: 1px 1px 1px #f3f2ec; 
    background: url(/_assets/img-ui/careers/careers_blur_divider.png) bottom center no-repeat; }
#offers h2 { margin: 7px 0 0px; color: #00693c; }
#offers p { margin: .5em 0; }
#offers ul li.offer {
    margin: 0 15px 0 0; 
    padding: 0; 
    width: 243px; 
    float: left; 
    position: relative;
    background: url(/_assets/img-ui/careers/ui-panel-1-right.png) top right no-repeat; }
#offers .last-child { margin-right: 0 !important; }
#offers ul .offer-inner { 
    background: url(/_assets/img-ui/careers/ui-panel-1-left.png) top left no-repeat;
    min-height: 146px;
    height: auto !important;
    height: 146px; }
    
/* Guts */

#offers .offer-img { width: 125px; float: left; }
#offers img { position: relative; top: -5px; left: 2px; }
#offers .offer-copy { width: 110px; float: left; margin-left: -5px; }
#offers .offer-link { text-shadow: none; position: absolute; right: 47px; bottom: .8em; color: #fff; font-weight: bold; }
#offers a { 
    min-height: 150px;
    height: auto !important;
    height: 150px;
    cursor: pointer; text-decoration: none; display: block; }
#offers a:hover .offer-link { text-decoration: underline; }
 
 
/**
 * Careers Promos
 *
 * @note            Commented section highlights a decision to do The Right Thing,
 *                  after a nearly subversive social investigation.
 */
 
#promos { margin: 1.5em 0 0 0; line-height: 1.25em; }
#promos a { text-decoration: none; display: block; }
#promos a:hover { }
#promos h2 { margin: 7px 0 5px; color: #00693c; }
#promos ul { }
/*
#promos ul li.promo { 
    float: left;
    width: 372px;
    background: url(/_assets/images/ui-panel-2-right.png) top right no-repeat;
    margin: 0 15px 0 0; 
    padding: 0;  } 
#promos .promo-inner { 
    min-height: 119px;
    height: auto !important;
    height: 119px;
    background: url(/_assets/images/ui-panel-2-left.png) top left no-repeat; }
#promos .last-child { margin-right: 0 !important; }
#promos .promo-img { float: left; margin: 0 0 0 0; padding: 20px 15px 20px 20px; }
#promos .promo-copy { float: left; width: 220px; padding: 10px 0; }
*/
#promos ul li.promo { 
    float: left;
    width: 372px;
    background: #e0ded0;
    margin: 0 15px 0 0;
    padding: 0;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}
#promos ul li.promo:hover { background: #e6e5d9 !important; }
#promos .promo-inner {
    min-height: 119px;
    height: auto !important;
    height: 119px;
}
#promos .last-child { margin-right: 0 !important; }
#promos { /*text-shadow: 0 1px 0 #fff;*/ }
#promos a { 
    display: block;
    min-height: 119px;
    height: auto !important;
    height: 119px; }
#promos p { margin: .6em 0 .6em 0; }
#promos img { padding: 0; display: block; margin: 0; width: 100px; height: 75px; }
#promos .promo-img { float: left; margin: 0 0 0 0; padding: 20px 15px 0px 20px; }
#promos .promo-copy { float: none; width: 370px; padding: 10px 0; }
#promos .promo-copy { float: left; width: 230px; padding: 10px 0; }


/**
 * EOEL
 */
 
#right_content .module-eoel { background: #fff; padding: 10px 20px 20px; }
#right_content .module-eoel .module-inner { border: none; }
#right_content .module-eoel ul { }
#right_content .module-eoel ul li { margin: 0; padding: 0; padding: 0; background: none; }
#right_content .module-eoel .eoel { margin-top: 0; }
#right_content .module-eoel .eoel a { font-weight: bold; }


/**
 * Social Networking Module
 */
 
#right_content div.module-social-networking { margin-bottom: 0; background: #fff; padding: 10px 20px 20px; text-align: left; }
#right_content div.module-social-networking .module-inner { border: none; }
#right_content .module-social-networking ul { }
#right_content .module-social-networking ul li { margin: 0; padding: 0; padding: 0; background: none; text-align: left; }
#right_content .module-social-networking .social-networking-services { margin-bottom: 0; }
#right_content .module-social-networking .social-networking-services a { 
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 10px 5px 5px 37px; display: block;
    height: 22px; }
#right_content .module-social-networking .social-networking-services a:hover { }
#right_content .module-social-networking .social-networking-services-small { display: inline-block; *zoom: 1; *display: inline; }
#right_content .module-social-networking .social-networking-services-small a { padding-left: 0; display: inline-block; *zoom: 1; *display: inline; }
#right_content .module-social-networking .fb,
#right_content .module-social-networking .tw,
#right_content .module-social-networking .lin { 
    opacity: 1; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	text-align: left; text-indent: -9999px; width: 34px; }
#right_content .module-social-networking li:hover .fb,
#right_content .module-social-networking li:hover .tw,
#right_content .module-social-networking li:hover .lin {
    opacity: .8; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80); }
#right_content .module-social-networking .fb { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-small.png) -10px -10px no-repeat !important; height: 20px !important; }
#right_content .module-social-networking .tw { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-small.png) -10px -48px no-repeat !important; height: 20px !important; }
#right_content .module-social-networking .lin { background: url(/_assets/img-ui/careers/careers-social-media-icons-sprite-small.png) -10px -85px no-repeat !important; height: 20px !important; }


/**
 * Module Careers Items
 */
 
.module-careers-item .figcaption { font-size: 1em; }
.module-careers-item .figcaption a { display: inline; }
.module-careers-item a { font-size: 1em; font-weight: bold; margin: 0 0 .5em 0; display: block; }
.module-careers-item a.more { font-size: 1em; font-weight: normal; }
#content .module-careers-item p { margin: 15px 0 5px 0; }


#right_content { }
#right_content .module { margin: 0 0 15px 0; }

/**
 * Call-to-action Module
 */
 
.module-cta { background: #E0DED0; padding: 15px 15px 1px; border-bottom: 0px #fff solid; }
.module-cta .img { float: left; margin: 0 15px 0 0; }
.module-cta .copy { font-size: 11px; }
.module-cta a { text-decoration: none; display: block; }
.module-cta strong { color: #000; font-size: 13px; }
.module-cta span { display: block; padding: 10px 0 0 0; font-weight: bold; color: #063; }

#right_content { background: #fff; }

.related_links { background: #E0DED0; }

/* Header - green border-bottom */

/* For h2 and h3 with a back to top link; always clearfix these headers*/
div.header .to-top { float: right; margin: 20px 0 0; *margin: 10px 0 0; }
div.header { margin-bottom: 10px; border-bottom: 3px #7ab800 solid; }
.article div.header { margin-bottom: 1em; border-bottom: none; }
div.header h2 { font-size: 1.5em; margin: 0 0 5px 0 !important; float:left; }
div.header h3 { float:left; font-size: 18px !important; font-weight: normal; }
div.header .meta-controls { padding-top:7px; font-size:11px; }

/* Sub-Header - this-gray border-bottom */

div.header.sub{ border-bottom: 1px #CCC solid; }
div.header.sub h3{ /*color:#00693C;*/ }
div.header.sub .meta-controls{ padding-top: 0px;}

/**
 */

.file-list { margin: 0 !important; padding: 0 !important; } 
.file-list li { background: none !important; margin: 0 !important; padding: 0 !important; }
.file-list-pdf li { }
.file-list-mixed li { }
.file-list a { }
.file-list-pdf a { }

/**
 */

table { margin: 1em 0; }
table.style-1 { border: 1px #ccc solid; }
table.style-1 th { text-align: left; }
table.style-1 td { }
table.style-1 td,
table.style-1 th { padding: 5px; border: 1px #ccc solid; }
table.style-cart-delivery-schedule { }
table.style-cart-delivery-schedule-1 { }
    table.style-cart-delivery-schedule .section { width: 20%; }
    table.style-cart-delivery-schedule .delivery { width: 40%; }
    table.style-cart-delivery-schedule .note { width: 40%; }

hr { clear: both; }

/* Why doesn't 960's work? */

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/**
 */

.promo-table { margin: 1em 0; }
.promo-table-inner { }
.promo-table-content { }
.promo-table .column { position: relative; width: 240px; float: left; margin: 0 20px 10px 0; }
.promo-table .column-1 { }
.promo-table .column-2 { }
.promo-table .column-3 { margin-right: 0; }
.promo-table .header { margin: 0; }
    .promo-table .header h3 { }
.promo-table .most-popular { position: absolute; top: 30px; left: -15px; }
    .promo-table .most-popular img { }
.promo-table .img { margin: 2em 0 0 0; }
    .promo-table .img img { display: block; }
.promo-table .summary { margin: 1em 0.5em 1.2em; font-size: 1.2em; text-align: center; }
.promo-table .summary p { margin: 0 !important; }
    .promo-table .ratio { font-size: 2em; color: #076637; font-weight: bold; }
.promo-table .cost-options { color: #fff; line-height: 1; }
    .promo-table .label { display: inline-block; *zoom: 1; *display: inline; margin: 0 30px 0 0; }
    .promo-table .size { margin: 0 0 .5em 0; }
    .promo-table .cost { display: inline-block; *zoom: 1; *display: inline; font-size: 30px; position: relative; top: -5px; }
    .promo-table .option { text-shadow: 0 -1px 1px #076637; padding: 20px 20px 15px 20px; position: relative; font-size: 14px; }
    .promo-table .single { text-shadow: 0 -1px 1px #222; background: #076637; }
        .promo-table .single .label { }
            .promo-table .single .size { }
            .promo-table .single .type { }
        .promo-table .single .cost { }
    .promo-table .many { background: #78b400; padding-top: 25px; position: relative; }
        .promo-table .many .label { }
            .promo-table .many .additional { top: 1em; color: #fff; position: absolute; font-style: italic; font-size: .8em; }
            .promo-table .many .size { }
            .promo-table .many .type { }
        .promo-table .many .cost { }
.promo-table .display-footer { clear: left; text-align: center; color: #076637; font-size: 1.7em; }
.promo-table .display-footer .line-1 { padding: 1px; margin: 0 0 5px 0; }
.promo-table .display-footer .line-2 { padding: 1px; color: #78b400; }


#right_content .module-branding-image { margin-bottom: 0; position: relative; }
.module-branding-image .module-inner { border: none; }
#right_content .module-branding-image .caption { 
    background: #fff; 
    padding: 5px; 
    opacity: .7; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%; }

#right_content .module-branding-carousel { 
    position: relative; 
    margin-bottom: 0; 
    background: url(/_assets/img-ui/careers/ui-carousel-bg-1.jpg) no-repeat; }
.module-branding-carousel .module-inner { border: none; }
.module-branding-carousel ul { margin: 0 !important; padding: 0 !important; }
.module-branding-carousel li { 
    background: none !important; 
    margin: 0 !important; 
    padding: 0 !important;
    position: absolute; }
#right_content .module-branding-carousel .caption { 
    background: #fff; 
    padding: 5px; 
    opacity: .7; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
    position: absolute;
    bottom: 0;
    width: 100%; }

.module-testimonials { border: none; }
.module-testimonials .module-inner { border: none; }
#content .module-testimonials ul { margin: 0; padding: 0; }
#content .module-testimonials li { background: none; margin: 0; padding: 0; }

.module-landing-block { }
.module-landing-block .module-inner { border: none; }


/**
 * Manhattan Beach Form (From R2)
 */
 
#container-selection-form dt.grid_1 { margin-left: 40px !important; }
#container-selection-form .checkbox-block label { display: inline; }
#container-selection-form .meta-controls { padding-top: 0; }
#container-selection-form label.error { margin: 0; padding: 0; }

/* ======= Tables ======= */
 
table.thin-rows tr td{
   padding-top:2px !important;
   padding-bottom:2px !important;  
}
table.medium-rows tr td{
   padding-top:5px !important;
   padding-bottom:5px !important;  
}
table.medium-rows tr td .checkbox{
   margin: 1px;
}
table.thick-rows tr td{
   padding-top:10px !important;
   padding-bottom:10px !important;
}
 
table.account-section{
  
}
table.account-section thead tr th{
   padding:0px 10px 2px 0px;
}
table.account-section thead tr{
   border-bottom:#D5D5D5 solid 1px;
}
table.account-section tbody tr{
   border-bottom:#D5D5D5 solid 1px;
}
 
table.account-section tbody tr td{
   padding: 5px 10px 5px 0px;
}
table.account-section tbody tr.even{
   background-color:#F3F2ED;
}
table.account-section th.invoice{
   width:130px;
}
/*on hover change color*/
/*table.account-section tbody tr:hover{
   background-color:#FFF8D7 !important;
}*/
 
/* ======= Drop ======= */
 
    .drop,
    .drop_1 { margin-top: 5px; }
    .drop_2 { margin-top: 10px; }
    .drop_3 { margin-top: 15px; }
    .drop_4 { margin-top: 20px; }
    .drop_5 { margin-top: 25px; }
    .drop_6 { margin-top: 30px; }
    .drop_7 { margin-top: 35px; }
    .drop_8 { margin-top: 40px; }
    .drop_9 { margin-top: 45px; }
    .drop_10 { margin-top: 50px; }
   
    
 
    /* Tables */
    table {
        table-layout: fixed;
        width: 100%; }
 
    table.hide-empty { empty-cells: hide; }
 
    thead,
    tbody,
    tfoot { width: 100%; }
 
    th { text-align: left; }
    td { vertical-align: top; }
    th.grid_1,
    td.grid_1,
    th.grid_2,
    td.grid_2,
    th.grid_3,
    td.grid_3,
    th.grid_4,
    td.grid_4,
    th.grid_5,
    td.grid_5,
    th.grid_6,
    td.grid_6,
    th.grid_7,
    td.grid_7,
    th.grid_8,
    td.grid_8,
    th.grid_9,
    td.grid_9,
    th.grid_10,
    td.grid_10,
    th.grid_11,
    td.grid_11,
    th.grid_12,
    td.grid_12,
    th.grid_13,
    td.grid_13,
    th.grid_14,
    td.grid_14,
    th.grid_15,
    td.grid_15 { margin: 0 !important; padding: 0 10px; }
    th.alpha,
    td.alpha { padding-left: 0; }
    th.omega,
    td.omega { padding-right: 0; }
    
input.radio,
input.checkbox { border: none !important; }
    
#home_hero_container { padding-top: 10px; }


