* html .u2_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u2_original.png");
}

* html .u4c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u4c0.png");
}

* html .u6_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u6_original.png");
}

* html .u8c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u8c0.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u6_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u6_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u16c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u16c0.png");
}

* html .u18c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u18c0.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u22_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u26c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u26c0.png");
}

* html .u26c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u26c1.png");
}

* html .u26c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u26c2.png");
}

* html .u28_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u30c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u30c0.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u34_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u6_original.png");
}

* html .u36_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u38c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u38c0.png");
}

* html .u38c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u38c1.png");
}

* html .u38c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u38c2.png");
}

* html .u40_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u22_original.png");
}

* html .u42_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u42_original.png");
}

* html .u44c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u44c0.png");
}

* html .u46c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u46c0.png");
}

* html .u46c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u46c1.png");
}

* html .u46c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u46c2.png");
}

* html .u48c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u48c0.png");
}

* html .u48c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u48c1.png");
}

* html .u48c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u48c2.png");
}

* html .u50c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u50c0.png");
}

* html .u50c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u50c1.png");
}

* html .u50c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u50c2.png");
}

* html .u52c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u52c0.png");
}

* html .u52c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u52c1.png");
}

* html .u52c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u52c2.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u22_original.png");
}

* html .u56c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u56c0.png");
}

* html .u56c1 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u56c1.png");
}

* html .u56c2 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u56c2.png");
}

* html .u58_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u42_original.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u60_original.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u60_original.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u64_original.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u68c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u68c0.png");
}

* html .u70_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u70_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u70_original.png");
}

* html .u76c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u76c0.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u80c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u80c0.png");
}

* html .u83_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u83_original.png");
}

* html .u86_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u6_original.png");
}

* html .u88c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u88c0.png");
}

* html .u90_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u14_original.png");
}

* html .u92c0 {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u92c0.png");
}

* html .u94_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Entrance_Flow_Pages_files/u60_original.png");
}

