body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../Make_a_Payment_Header_files/u15_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px
}

.u3_original {
    background-image: url('../Make_a_Payment_Header_files/u17_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:13px;
}

.u3 {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px
}

.u9_line {
    background-image: url('../Billing_Contact_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px;
}

.u9 {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px
}

.u12_original {
    background-image: url('../Billing_Contact_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:725px;
    top:210px;
    width:215px;
    height:165px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:171px;
}

.u12 {
    position:absolute;
    left:725px;
    top:210px;
    width:215px;
    height:165px
}

.u18_line {
    background-image: url('../Billing_Contact_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:736px;
    top:276px;
    width:194px;
    height:3px;
}

.u18 {
    position:absolute;
    left:736px;
    top:276px;
    width:194px;
    height:3px
}

.u21_original {
    background-image: url('../Billing_Contact_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:725px;
    top:334px;
    width:215px;
    height:61px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:67px;
}

.u21 {
    position:absolute;
    left:725px;
    top:334px;
    width:215px;
    height:61px
}

.u27 {
    position:absolute;
    left:190px;
    top:710px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u35_line {
    background-image: url('../Billing_Contact_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:10px;
    top:601px;
    width:701px;
    height:3px;
}

.u35 {
    position:absolute;
    left:10px;
    top:601px;
    width:701px;
    height:3px
}

.u36_line {
    background-image: url('../Billing_Contact_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:10px;
    top:671px;
    width:701px;
    height:3px;
}

.u36 {
    position:absolute;
    left:10px;
    top:671px;
    width:701px;
    height:3px
}

.u39_line {
    background-image: url('../Billing_Contact_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:827px;
    top:273px;
    width:47px;
    height:3px;
}

.u39 {
    position:absolute;
    left:827px;
    top:273px;
    width:47px;
    height:3px
}

.u41_original {
    background-image: url('../Billing_Contact_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

.u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px
}

.u47 {
    position:absolute;
    left:203px;
    top:242px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:203px;
    top:312px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:203px;
    top:347px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:202px;
    top:383px;
    width:58px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:202px;
    top:457px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:202px;
    top:492px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:202px;
    top:527px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:203px;
    top:277px;
    width:207px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:203px;
    top:417px;
    width:57px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_line {
    background-image: url('../Billing_Contact_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px;
}

.u67 {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px
}

.u70 {
    position:absolute;
    left:420px;
    top:5px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:800px;
    width:971px;
    height:244px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u88 {
    position:absolute;
    left:0px;
    top:800px;
    width:971px;
    height:244px
}

