* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Make_a_Payment_Header_files/u15_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Make_a_Payment_Header_files/u17_original.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u6_line.png");
}

* html .u8_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u8_line.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u11_original.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u17_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u17_original.png");
}

* html .u32_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u32_line.png");
}

* html .u41_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u41_line.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u76_original.png");
}

* html .u78_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u80_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u17_original.png");
}

* html .u82_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u97_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u97_line.png");
}

* html .u106_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u106_line.png");
}

* html .u141_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u141_original.png");
}

* html .u143_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u17_original.png");
}

* html .u145_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u162_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u162_line.png");
}

* html .u171_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u171_line.png");
}

* html .u206_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u206_original.png");
}

* html .u208_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u210_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u212_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u13_original.png");
}

* html .u227_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u227_line.png");
}

* html .u236_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u236_line.png");
}

* html .u258_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u258_original.png");
}

* html .u264_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u264_line.png");
}

* html .u267_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u267_original.png");
}

* html .u275_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u275_line.png");
}

* html .u277_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u258_original.png");
}

* html .u283_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u283_line.png");
}

* html .u288_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u288_line.png");
}

* html .u289_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u258_original.png");
}

* html .u295_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u295_line.png");
}

* html .u300_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u300_line.png");
}

* html .u302_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_files/u302_original.png");
}

* html .u326_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Standard_Footer_files/u22_original.png");
}

