body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../Make_a_Payment_Header_files/u15_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px
}

.u3_original {
    background-image: url('../Make_a_Payment_Header_files/u17_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:13px;
}

.u3 {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px
}

.u6_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px
}

.u8_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px;
}

.u8 {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px
}

.u11_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:385px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:391px;
}

.u11 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:385px
}

.u13_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u15_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u15 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u17_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u17 {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px
}

.u19_container {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u19 {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px
}

.u21_container {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u21 {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px
}

.u23_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u23 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u25_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u25 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u27_container {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u27 {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px
}

.u29_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u29 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u32_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:481px;
    width:700px;
    height:3px;
}

.u32 {
    position:absolute;
    left:0px;
    top:481px;
    width:700px;
    height:3px
}

.u40 {
    position:absolute;
    left:180px;
    top:759px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u41_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:698px;
    width:700px;
    height:3px;
}

.u41 {
    position:absolute;
    left:0px;
    top:698px;
    width:700px;
    height:3px
}

.u43 {
    position:absolute;
    left:180px;
    top:172px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:180px;
    top:309px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:180px;
    top:387px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u76_original.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:375px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:381px;
}

.u76 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:375px
}

.u78_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u78 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u80_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u17_original.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u80 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u82_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:431px;
    width:700px;
    height:30px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u82 {
    position:absolute;
    left:0px;
    top:431px;
    width:700px;
    height:30px
}

.u84_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u84 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u86_container {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u86 {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px
}

.u88_container {
    position:absolute;
    left:5px;
    top:439px;
    width:13px;
    height:13px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u88 {
    position:absolute;
    left:5px;
    top:439px;
    width:13px;
    height:13px
}

.u90_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u90 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u92_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u92 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u94_container {
    position:absolute;
    left:27px;
    top:433px;
    width:30px;
    height:24px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u94 {
    position:absolute;
    left:27px;
    top:433px;
    width:30px;
    height:24px
}

.u97_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:0px;
    top:513px;
    width:700px;
    height:3px;
}

.u97 {
    position:absolute;
    left:0px;
    top:513px;
    width:700px;
    height:3px
}

.u105 {
    position:absolute;
    left:180px;
    top:791px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u106_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:730px;
    width:700px;
    height:3px;
}

.u106 {
    position:absolute;
    left:0px;
    top:730px;
    width:700px;
    height:3px
}

.u108 {
    position:absolute;
    left:180px;
    top:142px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u115 {
    position:absolute;
    left:180px;
    top:279px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:180px;
    top:360px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u125 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u131 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u137 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u138 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u139 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u141_original.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:370px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:376px;
}

.u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:370px
}

.u143_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u17_original.png');
}

.u143_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u145_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:400px;
    width:700px;
    height:30px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u145 {
    position:absolute;
    left:0px;
    top:400px;
    width:700px;
    height:30px
}

.u147_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:430px;
    width:700px;
    height:30px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u147 {
    position:absolute;
    left:0px;
    top:430px;
    width:700px;
    height:30px
}

.u149_container {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u149 {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px
}

.u151_container {
    position:absolute;
    left:5px;
    top:408px;
    width:13px;
    height:13px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u151 {
    position:absolute;
    left:5px;
    top:408px;
    width:13px;
    height:13px
}

.u153_container {
    position:absolute;
    left:5px;
    top:438px;
    width:13px;
    height:13px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u153 {
    position:absolute;
    left:5px;
    top:438px;
    width:13px;
    height:13px
}

.u155_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u155 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u157_container {
    position:absolute;
    left:27px;
    top:406px;
    width:30px;
    height:17px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u157 {
    position:absolute;
    left:27px;
    top:406px;
    width:30px;
    height:17px
}

.u159_container {
    position:absolute;
    left:27px;
    top:432px;
    width:30px;
    height:24px;
}

#u159_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u159 {
    position:absolute;
    left:27px;
    top:432px;
    width:30px;
    height:24px
}

.u162_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u162_line.png');
}

.u162_line {
    position:absolute;
    left:0px;
    top:511px;
    width:700px;
    height:3px;
}

.u162 {
    position:absolute;
    left:0px;
    top:511px;
    width:700px;
    height:3px
}

.u170 {
    position:absolute;
    left:180px;
    top:789px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u171_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u171_line.png');
}

.u171_line {
    position:absolute;
    left:0px;
    top:728px;
    width:700px;
    height:3px;
}

.u171 {
    position:absolute;
    left:0px;
    top:728px;
    width:700px;
    height:3px
}

.u173 {
    position:absolute;
    left:180px;
    top:110px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u180 {
    position:absolute;
    left:180px;
    top:247px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u185 {
    position:absolute;
    left:180px;
    top:325px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u190 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u193 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u194 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u195 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u196 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u198 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u201 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u202 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u203 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u204 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u206_original.png');
}

.u206_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:315px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:321px;
}

.u206 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:315px
}

.u208_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u208_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u208_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u208 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u210_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u210_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u210_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u210 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u212_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u13_original.png');
}

.u212_container {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px;
}

#u212_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u212 {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px
}

.u214_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u214 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u216_container {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px;
}

#u216_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u216 {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px
}

.u218_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u218_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u218 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u220_container {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px;
}

#u220_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u220 {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px
}

.u222_container {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px;
}

#u222_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u222 {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px
}

.u224_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u224_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u224 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u227_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u227_line.png');
}

.u227_line {
    position:absolute;
    left:0px;
    top:141px;
    width:700px;
    height:3px;
}

.u227 {
    position:absolute;
    left:0px;
    top:141px;
    width:700px;
    height:3px
}

.u235 {
    position:absolute;
    left:180px;
    top:419px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u236_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u236_line.png');
}

.u236_line {
    position:absolute;
    left:0px;
    top:358px;
    width:700px;
    height:3px;
}

.u236 {
    position:absolute;
    left:0px;
    top:358px;
    width:700px;
    height:3px
}

.u238 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u241 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u242 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u243 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u244 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u246 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u249 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u250 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u251 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u252 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u258_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u258_original.png');
}

.u258_container {
    position:absolute;
    left:725px;
    top:230px;
    width:215px;
    height:105px;
}

#u258_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u258 {
    position:absolute;
    left:725px;
    top:230px;
    width:215px;
    height:105px
}

.u264_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u264_line.png');
}

.u264_line {
    position:absolute;
    left:736px;
    top:296px;
    width:194px;
    height:3px;
}

.u264 {
    position:absolute;
    left:736px;
    top:296px;
    width:194px;
    height:3px
}

.u267_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u267_original.png');
}

.u267_container {
    position:absolute;
    left:725px;
    top:557px;
    width:215px;
    height:61px;
}

#u267_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:67px;
}

.u267 {
    position:absolute;
    left:725px;
    top:557px;
    width:215px;
    height:61px
}

.u275_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u275_line.png');
}

.u275_line {
    position:absolute;
    left:827px;
    top:293px;
    width:47px;
    height:3px;
}

.u275 {
    position:absolute;
    left:827px;
    top:293px;
    width:47px;
    height:3px
}

.u277_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u258_original.png');
}

.u277_container {
    position:absolute;
    left:725px;
    top:339px;
    width:215px;
    height:105px;
}

#u277_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u277 {
    position:absolute;
    left:725px;
    top:339px;
    width:215px;
    height:105px
}

.u283_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u283_line.png');
}

.u283_line {
    position:absolute;
    left:736px;
    top:405px;
    width:194px;
    height:3px;
}

.u283 {
    position:absolute;
    left:736px;
    top:405px;
    width:194px;
    height:3px
}

.u288_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u288_line.png');
}

.u288_line {
    position:absolute;
    left:827px;
    top:402px;
    width:47px;
    height:3px;
}

.u288 {
    position:absolute;
    left:827px;
    top:402px;
    width:47px;
    height:3px
}

.u289_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u258_original.png');
}

.u289_container {
    position:absolute;
    left:725px;
    top:448px;
    width:215px;
    height:105px;
}

#u289_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u289 {
    position:absolute;
    left:725px;
    top:448px;
    width:215px;
    height:105px
}

.u295_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u295_line.png');
}

.u295_line {
    position:absolute;
    left:736px;
    top:514px;
    width:194px;
    height:3px;
}

.u295 {
    position:absolute;
    left:736px;
    top:514px;
    width:194px;
    height:3px
}

.u300_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u300_line.png');
}

.u300_line {
    position:absolute;
    left:827px;
    top:511px;
    width:47px;
    height:3px;
}

.u300 {
    position:absolute;
    left:827px;
    top:511px;
    width:47px;
    height:3px
}

.u302_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_files/u302_original.png');
}

.u302_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u302_img {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

.u302 {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px
}

.u308 {
    position:absolute;
    left:420px;
    top:5px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u311 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u313 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u315 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u318 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u320 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u322 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u326_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u326_container {
    position:absolute;
    left:0px;
    top:1090px;
    width:971px;
    height:244px;
}

#u326_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u326 {
    position:absolute;
    left:0px;
    top:1090px;
    width:971px;
    height:244px
}

