body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1_original {
    background-image: url('../Make_a_Payment_Header_files/u15_original.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px;
}

.u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:431px;
    height:79px
}

.u3_original {
    background-image: url('../Make_a_Payment_Header_files/u17_original.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:942px;
    height:13px;
}

.u3 {
    position:absolute;
    left:0px;
    top:82px;
    width:942px;
    height:13px
}

.u6_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:124px;
    width:930px;
    height:3px
}

.u8_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px;
}

.u8 {
    position:absolute;
    left:10px;
    top:211px;
    width:701px;
    height:3px
}

.u11_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:385px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:391px;
}

.u11 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:385px
}

.u13_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u15_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u15 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u17_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u17 {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px
}

.u19_container {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u19 {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px
}

.u21_container {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u21 {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px
}

.u23_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u23 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u25_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u25 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u27_container {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u27 {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px
}

.u29_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u29 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u32_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:0px;
    top:481px;
    width:700px;
    height:3px;
}

.u32 {
    position:absolute;
    left:0px;
    top:481px;
    width:700px;
    height:3px
}

.u40 {
    position:absolute;
    left:180px;
    top:720px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u41_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:684px;
    width:700px;
    height:3px;
}

.u41 {
    position:absolute;
    left:0px;
    top:684px;
    width:700px;
    height:3px
}

.u43 {
    position:absolute;
    left:180px;
    top:172px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:180px;
    top:309px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:180px;
    top:387px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u70_original.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:375px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:381px;
}

.u70 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:375px
}

.u72_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u72 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u74_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u74 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u76_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:431px;
    width:700px;
    height:30px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u76 {
    position:absolute;
    left:0px;
    top:431px;
    width:700px;
    height:30px
}

.u78_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u78 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u80_container {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u80 {
    position:absolute;
    left:5px;
    top:9px;
    width:13px;
    height:13px
}

.u82_container {
    position:absolute;
    left:5px;
    top:439px;
    width:13px;
    height:13px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u82 {
    position:absolute;
    left:5px;
    top:439px;
    width:13px;
    height:13px
}

.u84_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u84 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u86_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u86 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u88_container {
    position:absolute;
    left:27px;
    top:433px;
    width:30px;
    height:24px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u88 {
    position:absolute;
    left:27px;
    top:433px;
    width:30px;
    height:24px
}

.u91_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u91_line.png');
}

.u91_line {
    position:absolute;
    left:0px;
    top:513px;
    width:700px;
    height:3px;
}

.u91 {
    position:absolute;
    left:0px;
    top:513px;
    width:700px;
    height:3px
}

.u99 {
    position:absolute;
    left:180px;
    top:745px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u100_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u100_line.png');
}

.u100_line {
    position:absolute;
    left:0px;
    top:714px;
    width:700px;
    height:3px;
}

.u100 {
    position:absolute;
    left:0px;
    top:714px;
    width:700px;
    height:3px
}

.u102 {
    position:absolute;
    left:180px;
    top:142px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:180px;
    top:279px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u114 {
    position:absolute;
    left:180px;
    top:360px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u119 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u120 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u121 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u122 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u123 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u125 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u127 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u128 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u129_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u129_original.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:370px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:376px;
}

.u129 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:370px
}

.u131_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png');
}

.u131_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u133_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:400px;
    width:700px;
    height:30px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u133 {
    position:absolute;
    left:0px;
    top:400px;
    width:700px;
    height:30px
}

.u135_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u135_container {
    position:absolute;
    left:0px;
    top:430px;
    width:700px;
    height:30px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u135 {
    position:absolute;
    left:0px;
    top:430px;
    width:700px;
    height:30px
}

.u137_container {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u137 {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px
}

.u139_container {
    position:absolute;
    left:5px;
    top:408px;
    width:13px;
    height:13px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u139 {
    position:absolute;
    left:5px;
    top:408px;
    width:13px;
    height:13px
}

.u141_container {
    position:absolute;
    left:5px;
    top:438px;
    width:13px;
    height:13px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u141 {
    position:absolute;
    left:5px;
    top:438px;
    width:13px;
    height:13px
}

.u143_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u143_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u143 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u145_container {
    position:absolute;
    left:27px;
    top:406px;
    width:30px;
    height:17px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u145 {
    position:absolute;
    left:27px;
    top:406px;
    width:30px;
    height:17px
}

.u147_container {
    position:absolute;
    left:27px;
    top:432px;
    width:30px;
    height:24px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u147 {
    position:absolute;
    left:27px;
    top:432px;
    width:30px;
    height:24px
}

.u150_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u150_line.png');
}

.u150_line {
    position:absolute;
    left:0px;
    top:511px;
    width:700px;
    height:3px;
}

.u150 {
    position:absolute;
    left:0px;
    top:511px;
    width:700px;
    height:3px
}

.u158 {
    position:absolute;
    left:180px;
    top:750px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u159_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u159_line.png');
}

.u159_line {
    position:absolute;
    left:0px;
    top:714px;
    width:700px;
    height:3px;
}

.u159 {
    position:absolute;
    left:0px;
    top:714px;
    width:700px;
    height:3px
}

.u161 {
    position:absolute;
    left:180px;
    top:110px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u168 {
    position:absolute;
    left:180px;
    top:247px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u173 {
    position:absolute;
    left:180px;
    top:325px;
    width:340px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u178 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u179 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u180 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u181 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u182 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u184 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u185 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u186 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u187 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u188_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u188_original.png');
}

.u188_container {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:315px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:321px;
}

.u188 {
    position:absolute;
    left:0px;
    top:-5px;
    width:700px;
    height:315px
}

.u190_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u190 {
    position:absolute;
    left:0px;
    top:0px;
    width:700px;
    height:30px
}

.u192_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u192_container {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u192 {
    position:absolute;
    left:0px;
    top:30px;
    width:700px;
    height:30px
}

.u194_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png');
}

.u194_container {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:706px;
    height:36px;
}

.u194 {
    position:absolute;
    left:0px;
    top:60px;
    width:700px;
    height:30px
}

.u196_container {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u196 {
    position:absolute;
    left:5px;
    top:39px;
    width:13px;
    height:13px
}

.u198_container {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u198 {
    position:absolute;
    left:5px;
    top:69px;
    width:13px;
    height:13px
}

.u200_container {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px;
}

#u200_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u200 {
    position:absolute;
    left:27px;
    top:37px;
    width:30px;
    height:17px
}

.u202_container {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:24px;
}

.u202 {
    position:absolute;
    left:27px;
    top:63px;
    width:30px;
    height:24px
}

.u204_container {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u204 {
    position:absolute;
    left:5px;
    top:8px;
    width:13px;
    height:13px
}

.u206_container {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:17px;
}

.u206 {
    position:absolute;
    left:27px;
    top:7px;
    width:30px;
    height:17px
}

.u209_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u209_line.png');
}

.u209_line {
    position:absolute;
    left:0px;
    top:141px;
    width:700px;
    height:3px;
}

.u209 {
    position:absolute;
    left:0px;
    top:141px;
    width:700px;
    height:3px
}

.u217 {
    position:absolute;
    left:180px;
    top:380px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u218_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u218_line.png');
}

.u218_line {
    position:absolute;
    left:0px;
    top:344px;
    width:700px;
    height:3px;
}

.u218 {
    position:absolute;
    left:0px;
    top:344px;
    width:700px;
    height:3px
}

.u220 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u221 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u222 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u223 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u224 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u225 {
    position:absolute;
    left:1px;
    top:20px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u226 {
    position:absolute;
    left:0px;
    top:90px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u227 {
    position:absolute;
    left:0px;
    top:125px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u228 {
    position:absolute;
    left:0px;
    top:160px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u229 {
    position:absolute;
    left:1px;
    top:55px;
    width:217px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u234_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png');
}

.u234_container {
    position:absolute;
    left:725px;
    top:230px;
    width:215px;
    height:105px;
}

#u234_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u234 {
    position:absolute;
    left:725px;
    top:230px;
    width:215px;
    height:105px
}

.u240_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u240_line.png');
}

.u240_line {
    position:absolute;
    left:736px;
    top:296px;
    width:194px;
    height:3px;
}

.u240 {
    position:absolute;
    left:736px;
    top:296px;
    width:194px;
    height:3px
}

.u243_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u243_original.png');
}

.u243_container {
    position:absolute;
    left:725px;
    top:557px;
    width:215px;
    height:61px;
}

#u243_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:67px;
}

.u243 {
    position:absolute;
    left:725px;
    top:557px;
    width:215px;
    height:61px
}

.u251_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u251_line.png');
}

.u251_line {
    position:absolute;
    left:827px;
    top:293px;
    width:47px;
    height:3px;
}

.u251 {
    position:absolute;
    left:827px;
    top:293px;
    width:47px;
    height:3px
}

.u253_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png');
}

.u253_container {
    position:absolute;
    left:725px;
    top:339px;
    width:215px;
    height:105px;
}

#u253_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u253 {
    position:absolute;
    left:725px;
    top:339px;
    width:215px;
    height:105px
}

.u259_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u259_line.png');
}

.u259_line {
    position:absolute;
    left:736px;
    top:405px;
    width:194px;
    height:3px;
}

.u259 {
    position:absolute;
    left:736px;
    top:405px;
    width:194px;
    height:3px
}

.u264_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u264_line.png');
}

.u264_line {
    position:absolute;
    left:827px;
    top:402px;
    width:47px;
    height:3px;
}

.u264 {
    position:absolute;
    left:827px;
    top:402px;
    width:47px;
    height:3px
}

.u265_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png');
}

.u265_container {
    position:absolute;
    left:725px;
    top:448px;
    width:215px;
    height:105px;
}

#u265_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:221px;
    height:111px;
}

.u265 {
    position:absolute;
    left:725px;
    top:448px;
    width:215px;
    height:105px
}

.u271_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u271_line.png');
}

.u271_line {
    position:absolute;
    left:736px;
    top:514px;
    width:194px;
    height:3px;
}

.u271 {
    position:absolute;
    left:736px;
    top:514px;
    width:194px;
    height:3px
}

.u276_line {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u276_line.png');
}

.u276_line {
    position:absolute;
    left:827px;
    top:511px;
    width:47px;
    height:3px;
}

.u276 {
    position:absolute;
    left:827px;
    top:511px;
    width:47px;
    height:3px
}

.u278_original {
    background-image: url('../Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u278_original.png');
}

.u278_container {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

#u278_img {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px;
}

.u278 {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:130px
}

.u284 {
    position:absolute;
    left:420px;
    top:5px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u287 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u289 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u291 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u294 {
    position:absolute;
    left:140px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u296 {
    position:absolute;
    left:340px;
    top:0px;
    width:110px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u298 {
    position:absolute;
    left:470px;
    top:0px;
    width:60px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u302_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u302_container {
    position:absolute;
    left:0px;
    top:1060px;
    width:971px;
    height:244px;
}

#u302_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u302 {
    position:absolute;
    left:0px;
    top:1060px;
    width:971px;
    height:244px
}

