* html .u1_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Make_a_Payment_Header_files/u15_original.png");
}

* html .u3_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Make_a_Payment_Header_files/u17_original.png");
}

* html .u6_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u6_line.png");
}

* html .u8_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u8_line.png");
}

* html .u11_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u11_original.png");
}

* html .u13_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u15_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u17_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png");
}

* html .u32_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u32_line.png");
}

* html .u41_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u41_line.png");
}

* html .u70_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u70_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u91_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u91_line.png");
}

* html .u100_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u100_line.png");
}

* html .u129_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u129_original.png");
}

* html .u131_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u17_original.png");
}

* html .u133_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u150_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u150_line.png");
}

* html .u159_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u159_line.png");
}

* html .u188_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u188_original.png");
}

* html .u190_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u192_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u194_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u13_original.png");
}

* html .u209_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u209_line.png");
}

* html .u218_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u218_line.png");
}

* html .u234_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png");
}

* html .u240_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u240_line.png");
}

* html .u243_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u243_original.png");
}

* html .u251_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u251_line.png");
}

* html .u253_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png");
}

* html .u259_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u259_line.png");
}

* html .u264_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u264_line.png");
}

* html .u265_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u234_original.png");
}

* html .u271_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u271_line.png");
}

* html .u276_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u276_line.png");
}

* html .u278_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Delivery_Info_Multiple_Dumpsters_Not_Logged_In_files/u278_original.png");
}

* html .u302_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Standard_Footer_files/u22_original.png");
}

