/**
 * Careers Section CSS
 *
 * @note            To be merged with global.css from WM R1 Redesign project.
 * 
 * @author          aalexan1
 * @project         wm-redesign
 * @package         wm-redesign-careers
 */
 
 
/**
 * @todo            Move up to Sections: Utilities and HTML elements
 */
 
.align-left { float: left; margin: 0 1em 1em 0; }
.align-right { float: right; margin: 0 0 1em 1em; }

sup { vertical-align: super; font-size: .9em; }
sub { vertical-align: sub; font-size: .9em; }
abbr { border-bottom: 1px #222 dotted; }


/**
 * Breadcrumb
 *
 * Breadcrumb
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

#breadcrumb { margin: 15px 0 5px; }
#breadcrumb li { display: inline; }
#breadcrumb a { text-decoration: none; }
#breadcrumb a:visited { }
#breadcrumb a:hover { }
#breadcrumb a:active { }


/**
 * Years List
 *
 * A presentation of years
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

ul.years { margin: 10px 0 15px !important; padding: 0 !important; font-size: 1.5em !important; }
ul.years a { text-decoration: none; }
ul.years li { background: none !important; margin: 0 !important; padding: 0 !important; display: inline; }
ul.years span.sep { color: #ccc; }


/**
 * Module window overrides
 *
 * Module window overrides
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.modal-window-container h2 { font-size: 33px; color: #555; margin: 0 10px 10px 10px; }
.modal-window-container .modal-window-container-inner { margin: 10px; height: 75%; overflow-y: auto; }


/**
 * Module Link List
 *
 * Desc
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.module-link-list dt a { color: #000; text-decoration: none; }
.module-link-list dt a:hover { color: #00693c; text-decoration: none; }
.module-link-list dd { padding-left: 0 !important; }
.module-link-list dd p { margin-top: .25em !important; }
.module-link-list a.more_links { font-weight: bold; }
 
 
/**
 * Module Figure Caption
 *
 * Desc
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */
 
.module-figure-caption { margin: 1em 0; }
.module-figure-caption p:first-of-type { margin-top: 0 !important; }
.module-figure-caption img { display: block; margin: 0 auto; }
.module-figure-caption .grid_1 img { width: auto; }
.module-figure-caption .grid_2 img { width: auto; }
.module-figure-caption .grid_3 img { width: auto; }
.module-figure-caption .grid_4 img { width: auto; }
 
.figcaption { 
    display: block; 
    margin-top: .5em; 
    line-height: 1.25em; 
    font-size: .9em;
    color: #777; 
    width: 100%; 
    text-align: left; }
 
 
/**
 * Sub-level headers
 *
 * Sub-level headers
 *
 * @author              bgarcia8
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */
 
.sub-level h1 { float: left; width: 75% !important; }
.sub-level a { display: inline-block; float: right; width: 25%; margin: 1.25em 0 0 0; }


/**
 * Cross-browser, print sensitive FAQ
 *
 * A model for FAQs.
 *
 * @author              aalexan1
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

.faq-toggle-list { margin: 10px 0 15px !important; }

.faq-toggle-list dt,
.faq-toggle-list dd { clear: left; }

.faq-toggle-list dd p { margin: 10px 0 15px !important; }

.faq-toggle-list dt { 
    font-weight: bold; 
    cursor: pointer; 
    color:#006A3C; 
    text-decoration:underline; } /*kf*/
.faq-toggle-list dd { 
    padding: 0 !important;
    display: none; }
.faq-toggle-list dd div { }
.toggle-next {
        background: url(http://www.wm.com/_assets/images/icons/icon_faqs_plusminus.gif) 0 3px no-repeat;
        padding: 0 0 0 14px; }
div.faq-header .toggle-all {
        cursor: pointer; 
        color:#006A3C; 
        text-decoration:underline;
        background: url(http://www.wm.com/_assets/images/icons/icon_faqs_plusminus.gif) 0 1px no-repeat;
        padding: 0 0 0 14px; }
div.faq-header .toggle-all-active { background-position: 0 -90px; }
.toggle-next-active { background-position: 0 -88px; }
.faq-toggle-list .faq-answer-container { }

div.faq-container { }
div.faq-header { border-bottom: 1px #ccc solid; margin: 0; padding: 2px 0; text-align: right; }
ul.faq-header-inner { margin: 0 !important; padding: 0 !important; }
div.faq-header li { padding: 0 !important; margin: 0 !important; background: none !important; }
#content div.faq-header h3 { float: left; margin: 0; padding: 0; }


/**
 * Print media
 *
 * For print media
 *
 * @author              aalexan1
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              ie6,ie7,ie8,chrome_10.x,opera_11.x,firefox_3.6.x,safari_5.x,
 * @valid               true
 */

@media print {

    .faq-header { display: none !important; }
    .toggle-next { background: none !important; padding: 0 !important; }
    .faq-toggle-list dd { 
        display: block !important;
    }
    
}


/**
 * Next section
 *
 * Description
 *
 * @author              dev
 * @project             wm-redesign
 * @package             wm-redesign-r2
 * @subpackage          site-consolidation
 * @version             0.0.1
 * @lastmodified        03-18-2011 1:40PM
 *
 * @css-for             all
 * @tested              all
 * @valid               true
 * NOTE: this can be removed after R1 and R2 are merged
 */

ul.delim-list-alternate li.first-child,
    ul.delim-list-alternate li.first {
        padding-left: 0px; 
		background-image:none !important;
		}


/**
 * Site Consolidation CSS above
 */
 
body,
input,
textarea { line-height: 1.6; }
#right_content,
input,
textarea { line-height: 1.25em; }

.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; *zoom: 1 !important; *display: inline !important; }

#carousel a { opacity: .8; }
#carousel a.btn_cta:hover { opacity: 1; }
#content label { padding: .6em 0 0 0; display: inline-block; *zoom: 1; *display: inline; }
#content input.text { padding: 5px; border: 1px #bbb solid; -moz-box-shadow: 1px 1px 3px #ccc inset; -webkit-box-shadow: 1px 1px 3px #ccc inset; box-shadow: 1px 1px 3px #ccc inset; }
#content h3 { margin: .7em 0; }
#content ul { margin: .7em 0; padding: 0; }
#content h4 { margin: .7em 0; }
#content dt { margin: .7em 0; }
#content dd { margin: .7em 0; padding: 0; }

/**
 * Buttons: The Season Finale
 */
 
#main_content .btn { }
#main_content .btn input.submit { }
#main_content .btn input.button { }
#main_content .btn_cta_lg { display: inline-block; *zoom: 1; *display: inline; }
#main_content .btn_cta { }
#right_rail .btn { }
#right_rail .btn input.submit { }
#right_rail .btn input.button { }
#right_rail .btn_cta_lg { }
#right_rail .btn_cta { }

/* block? we usually use these in the right rail, but what about elsewhere? */
a.btn_cta_lg { 
    line-height: 1.25em;
    /*display: inline-block; *zoom: 1; *display: inline;*/ }
a.btn_cta_lg span {
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 25px;
    font-size: 12px; }

a.btn_cta { 
    line-height: 1.5;
    display: inline-block; *zoom: 1; *display: inline; }
a.btn_cta span {
    display: block; 
    cursor: pointer; 
    text-shadow: 1px 1px 2px #044428 !important;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 35px;
    padding-left: 25px; 
    color:#fff !important;
    font-size: 12px; }

.btn { 
    line-height: 1.25em;
    background:url('http://www.wm.com/_assets/images/buttons/btn_cta_right.gif') right top no-repeat;
    display: inline-block;
    *zoom: 1;
    *display: inline; 
    padding: 0; 
    cursor: pointer; }
.btn input.submit { 
    background: url('http://www.wm.com/_assets/images/buttons/btn_cta_left.gif') left top no-repeat; 
    display: block; 
    cursor: pointer; 
    text-shadow: 1px 1px 2px #044428 !important;
    font-weight: bold;
    color:#fff !important; 
    height:34px; 
    padding: 0 35px 0 25px; 
    border: none;
    margin: 0; 
    font-size: 12px; }
    
#right_content h4 { margin: .5em 0; }
#right_content ul { margin: .5em 0; }
.grid_null { width: auto !important; }



/**
 * Carousel
 *
 * @see             jCarousel "WM" Skin
 */
 
 
/**
 * Social Networking Links
 */

.social-networking-services a { 
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px; 
    display: block; }
.social-networking-services .fb { background-image: url(http://dummyimage.com/20x20/ccc/fff); }
.social-networking-services .tw { background-image: url(http://dummyimage.com/20x20/000/fff); }
.social-networking-services .lin { background-image: url(http://dummyimage.com/20x20/c30/fff); }

.social-networking-services-icons .fb { background: url(/_assets/images/careers-social-media-icons-sprite-medium.png) -10px -11px no-repeat; width: 40px; height: 40px; }
.social-networking-services-icons .tw { background: url(/_assets/images/careers-social-media-icons-sprite-medium.png) -58px -11px no-repeat; width: 40px; height: 40px;  }
.social-networking-services-icons .lin { background: url(/_assets/images/careers-social-media-icons-sprite-medium.png) -105px -11px no-repeat; width: 40px; height: 40px; }
.social-networking-services-icons { text-align: center; padding-top: 0 !important; }
.social-networking-services-icons li { float: none !important; display: inline-block !important; *zoom: 1; *display: inline !important; width: auto !important; }
.social-networking-services-icons a { 
    padding: 0; 
    opacity: .8;
    height: 38px;
    width: 38px;
    text-indent: -9999px; }
.social-networking-services-icons a:hover { opacity: 1; }


/**
 * Careers Upcoming Events
 */
 
#upcoming-events { 
    background: url(/_assets/images/upcoming-events-sprite.png) top left no-repeat;
    height: 44px;
    color: #fff; }
    
.latest-event { 
    text-align: left;
    line-height: 2;
    position: relative;
    top: -0.05em;
    width: 595px;
    vertical-align: middle;
    *vertical-align: super;
    display: inline-block;
    *zoom: 1;
    *display: inline; }
.latest-event a { 
    padding: 0 0 0 1em;
    font-weight: bold; }
.latest-event a:visited { }
.latest-event a:hover { color: #fff; }
.latest-event a:active { }

.section-link {
    width: 145px;
    height: 44px;
    line-height: 1.35;
    display: inline-block;
    *zoom: 1;
    *display: inline; }
.section-link a {
    width: 145px;
    background: url(/_assets/images/upcoming-events-sprite.png) 0 -44px no-repeat;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 13px 10px 10px 9px; 
    color: #fff; 
    text-decoration: none;
    font-size: 13px;
    text-shadow: 0 0 0.2em #024f2d;
    font-weight: bold; }
.section-link a:visited { }
.section-link a:hover { 
    /*margin-left: 2px;
    background-position: 0 -44px !important;*/
    text-decoration: none; }
.section-link a:active { }
 
 
/**
 * Careers Sections
 */

#sections { line-height: 1.25em; } 
#sections .btn_cta_lg { 
    text-shadow: 1px 1px 1px #f3f2ec; 
    padding-right: 2.5em; }
#sections h2 { margin: 0; border-bottom: 3px #7ab700 solid; padding: 5px; }
#sections ul { }
#sections ul li { 
    padding: 0; 
    margin: 0 15px 0 0; 
    background: none; 
    width: 243px;
    float: left; }
#sections .section-inner { }
#sections .last-child { margin-right: 0; }


/**
 * Careers Offers
 */
 
#offers {
    line-height: 1.25em; 
    padding: 0 0 2em 0;
    margin: 0 0 1em 0;
    text-shadow: 1px 1px 1px #f3f2ec; 
    background: url(http://www.wm.com/_assets/images/backgrounds/bkg_homehero_shadow.gif) bottom center no-repeat; }
#offers h2 { margin: 7px 0 0px; color: #00693c; }
#offers p { margin: .5em 0; }
#offers ul li.offer {
    padding: 0;
    margin: 0 15px 0 0; 
    width: 243px; 
    float: left; 
    position: relative;
    background: url(/_assets/images/ui-panel-1-right.png) top right no-repeat; }
#offers .last-child { margin-right: 0 !important; }
#offers ul .offer-inner { 
    background: url(/_assets/images/ui-panel-1-left.png) top left no-repeat;
    min-height: 146px;
    height: auto !important;
    height: 146px; }
    
/* Guts */

#offers .offer-img { width: 125px; float: left; }
#offers img { position: relative; top: -5px; left: 2px; }
#offers .offer-copy { width: 108px; float: left; }
#offers .offer-link { text-shadow: none; position: absolute; bottom: 1em; color: #fff; font-weight: bold; }
#offers a { 
    min-height: 150px;
    height: auto !important;
    height: 150px;
    cursor: pointer; text-decoration: none; display: block; }
#offers a:hover .offer-link { text-decoration: underline; }
 
 
/**
 * Careers Promos
 *
 * @note            Commented section highlights a decision to do The Right Thing,
 *                  after a nearly subversive social investigation.
 */
 
#promos { line-height: 1.25em; }
#promos a { opacity: .8; text-decoration: none; display: block; }
#promos a:hover { opacity: 1; }
#promos h2 { margin: 7px 0 5px; color: #00693c; }
#promos ul { }
/*
#promos ul li.promo { 
    float: left;
    width: 372px;
    background: url(/_assets/images/ui-panel-2-right.png) top right no-repeat;
    margin: 0 15px 0 0; 
    padding: 0;  } 
#promos .promo-inner { 
    min-height: 119px;
    height: auto !important;
    height: 119px;
    background: url(/_assets/images/ui-panel-2-left.png) top left no-repeat; }
#promos .last-child { margin-right: 0 !important; }
#promos .promo-img { float: left; margin: 0 0 0 0; padding: 20px 15px 20px 20px; }
#promos .promo-copy { float: left; width: 220px; padding: 10px 0; }
*/
#promos ul li.promo { 
    float: left;
    width: 372px;
    background: #e6e5d9;
    margin: 0 15px 0 0;
    padding: 0;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}
#promos .promo-inner {
    min-height: 119px;
    height: auto !important;
    height: 119px;
}
#promos .last-child { margin-right: 0 !important; }
#promos { text-shadow: 1px 1px 0.1em #c9c5af; }
#promos a { 
    display: block;
    min-height: 119px;
    height: auto !important;
    height: 119px; }
#promos img { padding: 0; display: block; margin: 0; width: 100px; height: 75px; }
#promos .promo-img { float: left; margin: 0 0 0 0; padding: 20px 15px 0px 20px; }
#promos .promo-copy { float: none; width: 370px; padding: 10px 0; }
#promos .promo-copy { float: left; width: 230px; padding: 10px 0; }


/**
 * EOEL
 */
 
#right_content .module-eoel { background: #fff; padding: 10px 20px 20px; }
#right_content .module-eoel ul { }
#right_content .module-eoel ul li { margin: 0; padding: 0; padding: 0; background: none; }
#right_content .module-eoel .eoel { margin-top: 0; }
#right_content .module-eoel .eoel a { font-weight: bold; }


/**
 * Social Networking Module
 */
 
#right_content .module-social-networking { background: #fff; padding: 10px 20px 20px; }
#right_content .module-social-networking ul { }
#right_content .module-social-networking ul li { margin: 0; padding: 0; padding: 0; background: none; }
#right_content .module-social-networking .social-networking-services { margin-bottom: 0; }
#right_content .module-social-networking .social-networking-services a { 
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 37px; display: block;
    height: 32px;
    opacity: .8; }
#right_content .module-social-networking .social-networking-services a:hover { opacity: 1; }
#right_content .module-social-networking .fb { background: url(/_assets/images/careers-social-media-icons-sprite-small.png) -10px -10px no-repeat !important; height: 26px !important; }
#right_content .module-social-networking .tw { background: url(/_assets/images/careers-social-media-icons-sprite-small.png) -10px -48px no-repeat !important; height: 26px !important; }
#right_content .module-social-networking .lin { background: url(/_assets/images/careers-social-media-icons-sprite-small.png) -10px -85px no-repeat !important; height: 26px !important; }


/**
 * Module Careers Items
 */
 
.module-careers-item .figcaption { font-size: 1em; }
.module-careers-item a { font-size: 1em; font-weight: bold; margin: 0 0 .5em 0; display: block; text-decoration: none; }
.module-careers-item a.more { font-size: 1em; font-weight: normal; }
#content .module-careers-item p { margin: 15px 0 5px 0; }


/**
 * Call-to-action Module
 */
 
.module-cta { padding: 15px 15px 0 15px; border-bottom: 15px #fff solid; }
.module-cta .img { float: left; margin: 0 15px 0 0; }
.module-cta .copy { font-size: 11px; }
.module-cta a { text-decoration: none; display: block; }
.module-cta strong { color: #000; font-size: 13px; }
.module-cta span { display: block; padding: 10px 0 0 0; font-weight: bold; color: #063; }


