body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Standard_Footer_files/u22_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:1300px;
    width:971px;
    height:244px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:971px;
    height:244px;
}

.u0 {
    position:absolute;
    left:0px;
    top:1300px;
    width:971px;
    height:244px
}

.u3_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:827px;
}

.u3 {
    position:absolute;
    left:-3px;
    top:-1px;
    width:961px;
    height:827px
}

.u5_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:616px;
}

.u5 {
    position:absolute;
    left:180px;
    top:200px;
    width:770px;
    height:610px
}

.u7_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:81px;
}

.u7 {
    position:absolute;
    left:170px;
    top:200px;
    width:770px;
    height:75px
}

.u9_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:207px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u9 {
    position:absolute;
    left:170px;
    top:325px;
    width:770px;
    height:207px
}

.u14_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u9_original.png');
}

.u14_container {
    position:absolute;
    left:170px;
    top:550px;
    width:770px;
    height:207px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u14 {
    position:absolute;
    left:170px;
    top:550px;
    width:770px;
    height:207px
}

.u18_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u18 {
    position:absolute;
    left:180px;
    top:385px;
    width:310px;
    height:125px
}

.u21_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u21 {
    position:absolute;
    left:510px;
    top:386px;
    width:32px;
    height:32px
}

.u23_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u23 {
    position:absolute;
    left:620px;
    top:388px;
    width:32px;
    height:32px
}

.u25_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u25_container {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u25 {
    position:absolute;
    left:510px;
    top:428px;
    width:32px;
    height:32px
}

.u27_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u27_container {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u27 {
    position:absolute;
    left:620px;
    top:430px;
    width:32px;
    height:32px
}

.u29_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:488px;
    height:69px;
}

.u29 {
    position:absolute;
    left:472px;
    top:83px;
    width:488px;
    height:69px
}

.u31_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u31 {
    position:absolute;
    left:820px;
    top:320px;
    width:150px;
    height:40px
}

.u40_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u40_container {
    position:absolute;
    left:510px;
    top:610px;
    width:32px;
    height:32px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u40 {
    position:absolute;
    left:510px;
    top:610px;
    width:32px;
    height:32px
}

.u42_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u42_container {
    position:absolute;
    left:620px;
    top:612px;
    width:32px;
    height:32px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u42 {
    position:absolute;
    left:620px;
    top:612px;
    width:32px;
    height:32px
}

.u44_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u44_container {
    position:absolute;
    left:510px;
    top:652px;
    width:32px;
    height:32px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u44 {
    position:absolute;
    left:510px;
    top:652px;
    width:32px;
    height:32px
}

.u49_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u9_original.png');
}

.u49_container {
    position:absolute;
    left:170px;
    top:773px;
    width:770px;
    height:207px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:213px;
}

.u49 {
    position:absolute;
    left:170px;
    top:773px;
    width:770px;
    height:207px
}

.u54_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u54_container {
    position:absolute;
    left:510px;
    top:833px;
    width:32px;
    height:32px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u54 {
    position:absolute;
    left:510px;
    top:833px;
    width:32px;
    height:32px
}

.u56_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u56_container {
    position:absolute;
    left:620px;
    top:835px;
    width:32px;
    height:32px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u56 {
    position:absolute;
    left:620px;
    top:835px;
    width:32px;
    height:32px
}

.u58_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u58_container {
    position:absolute;
    left:510px;
    top:875px;
    width:32px;
    height:32px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u58 {
    position:absolute;
    left:510px;
    top:875px;
    width:32px;
    height:32px
}

.u60_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u60_container {
    position:absolute;
    left:620px;
    top:877px;
    width:32px;
    height:32px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u60 {
    position:absolute;
    left:620px;
    top:877px;
    width:32px;
    height:32px
}

.u67 {
    position:absolute;
    left:465px;
    top:285px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u68_original.png');
}

.u68_container {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:26px;
}

.u68 {
    position:absolute;
    left:551px;
    top:289px;
    width:50px;
    height:20px
}

.u74_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:511px;
    top:711px;
    width:18px;
    height:18px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u74 {
    position:absolute;
    left:511px;
    top:711px;
    width:18px;
    height:18px
}

.u76_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u76_container {
    position:absolute;
    left:533px;
    top:711px;
    width:18px;
    height:18px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u76 {
    position:absolute;
    left:533px;
    top:711px;
    width:18px;
    height:18px
}

.u78_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u78_container {
    position:absolute;
    left:555px;
    top:711px;
    width:18px;
    height:18px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u78 {
    position:absolute;
    left:555px;
    top:711px;
    width:18px;
    height:18px
}

.u80_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u80_container {
    position:absolute;
    left:577px;
    top:711px;
    width:18px;
    height:18px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u80 {
    position:absolute;
    left:577px;
    top:711px;
    width:18px;
    height:18px
}

.u82_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u82_container {
    position:absolute;
    left:599px;
    top:711px;
    width:18px;
    height:18px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u82 {
    position:absolute;
    left:599px;
    top:711px;
    width:18px;
    height:18px
}

.u84_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u84_container {
    position:absolute;
    left:621px;
    top:711px;
    width:18px;
    height:18px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u84 {
    position:absolute;
    left:621px;
    top:711px;
    width:18px;
    height:18px
}

.u86_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u86_container {
    position:absolute;
    left:643px;
    top:711px;
    width:18px;
    height:18px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u86 {
    position:absolute;
    left:643px;
    top:711px;
    width:18px;
    height:18px
}

.u88_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u88_container {
    position:absolute;
    left:665px;
    top:711px;
    width:18px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u88 {
    position:absolute;
    left:665px;
    top:711px;
    width:18px;
    height:18px
}

.u90_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u90_container {
    position:absolute;
    left:687px;
    top:711px;
    width:18px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u90 {
    position:absolute;
    left:687px;
    top:711px;
    width:18px;
    height:18px
}

.u92_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u92_container {
    position:absolute;
    left:709px;
    top:711px;
    width:18px;
    height:18px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u92 {
    position:absolute;
    left:709px;
    top:711px;
    width:18px;
    height:18px
}

.u94_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u94_container {
    position:absolute;
    left:511px;
    top:732px;
    width:18px;
    height:18px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u94 {
    position:absolute;
    left:511px;
    top:732px;
    width:18px;
    height:18px
}

.u96_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u96_container {
    position:absolute;
    left:533px;
    top:732px;
    width:18px;
    height:18px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u96 {
    position:absolute;
    left:533px;
    top:732px;
    width:18px;
    height:18px
}

.u98_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:556px;
    top:732px;
    width:8px;
    height:18px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u98 {
    position:absolute;
    left:556px;
    top:732px;
    width:8px;
    height:18px
}

.u102_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u102_container {
    position:absolute;
    left:511px;
    top:936px;
    width:18px;
    height:18px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u102 {
    position:absolute;
    left:511px;
    top:936px;
    width:18px;
    height:18px
}

.u104_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u104_container {
    position:absolute;
    left:533px;
    top:936px;
    width:18px;
    height:18px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u104 {
    position:absolute;
    left:533px;
    top:936px;
    width:18px;
    height:18px
}

.u106_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u106_container {
    position:absolute;
    left:555px;
    top:936px;
    width:18px;
    height:18px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u106 {
    position:absolute;
    left:555px;
    top:936px;
    width:18px;
    height:18px
}

.u108_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u108_container {
    position:absolute;
    left:577px;
    top:936px;
    width:18px;
    height:18px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u108 {
    position:absolute;
    left:577px;
    top:936px;
    width:18px;
    height:18px
}

.u110_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u110_container {
    position:absolute;
    left:599px;
    top:936px;
    width:18px;
    height:18px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u110 {
    position:absolute;
    left:599px;
    top:936px;
    width:18px;
    height:18px
}

.u112_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u112_container {
    position:absolute;
    left:621px;
    top:936px;
    width:18px;
    height:18px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u112 {
    position:absolute;
    left:621px;
    top:936px;
    width:18px;
    height:18px
}

.u114_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u114_container {
    position:absolute;
    left:643px;
    top:936px;
    width:18px;
    height:18px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u114 {
    position:absolute;
    left:643px;
    top:936px;
    width:18px;
    height:18px
}

.u116_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u116_container {
    position:absolute;
    left:665px;
    top:936px;
    width:18px;
    height:18px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u116 {
    position:absolute;
    left:665px;
    top:936px;
    width:18px;
    height:18px
}

.u118_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u118_container {
    position:absolute;
    left:687px;
    top:936px;
    width:18px;
    height:18px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u118 {
    position:absolute;
    left:687px;
    top:936px;
    width:18px;
    height:18px
}

.u120_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u120_container {
    position:absolute;
    left:709px;
    top:936px;
    width:18px;
    height:18px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u120 {
    position:absolute;
    left:709px;
    top:936px;
    width:18px;
    height:18px
}

.u122_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u122_container {
    position:absolute;
    left:511px;
    top:957px;
    width:18px;
    height:18px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u122 {
    position:absolute;
    left:511px;
    top:957px;
    width:18px;
    height:18px
}

.u124_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u124_container {
    position:absolute;
    left:533px;
    top:957px;
    width:18px;
    height:18px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u124 {
    position:absolute;
    left:533px;
    top:957px;
    width:18px;
    height:18px
}

.u126_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u98_original.png');
}

.u126_container {
    position:absolute;
    left:556px;
    top:957px;
    width:8px;
    height:18px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:24px;
}

.u126 {
    position:absolute;
    left:556px;
    top:957px;
    width:8px;
    height:18px
}

.u128_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u128_original.png');
}

.u128_container {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:147px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u128 {
    position:absolute;
    left:750px;
    top:373px;
    width:176px;
    height:147px
}

.u130_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:850px;
    top:494px;
    width:73px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u130 {
    position:absolute;
    left:850px;
    top:494px;
    width:73px;
    height:20px
}

.u137_line {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u137_line.png');
}

.u137_line {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px;
}

.u137 {
    position:absolute;
    left:830px;
    top:418px;
    width:90px;
    height:3px
}

.u139_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u128_original.png');
}

.u139_container {
    position:absolute;
    left:750px;
    top:596px;
    width:176px;
    height:147px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u139 {
    position:absolute;
    left:750px;
    top:596px;
    width:176px;
    height:147px
}

.u141_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u130_original.png');
}

.u141_container {
    position:absolute;
    left:850px;
    top:717px;
    width:73px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u141 {
    position:absolute;
    left:850px;
    top:717px;
    width:73px;
    height:20px
}

.u148_line {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u148_line.png');
}

.u148_line {
    position:absolute;
    left:830px;
    top:641px;
    width:90px;
    height:3px;
}

.u148 {
    position:absolute;
    left:830px;
    top:641px;
    width:90px;
    height:3px
}

.u150_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u128_original.png');
}

.u150_container {
    position:absolute;
    left:750px;
    top:816px;
    width:176px;
    height:147px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u150 {
    position:absolute;
    left:750px;
    top:816px;
    width:176px;
    height:147px
}

.u152_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u130_original.png');
}

.u152_container {
    position:absolute;
    left:850px;
    top:937px;
    width:73px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u152 {
    position:absolute;
    left:850px;
    top:937px;
    width:73px;
    height:20px
}

.u159_line {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u159_line.png');
}

.u159_line {
    position:absolute;
    left:830px;
    top:861px;
    width:90px;
    height:3px;
}

.u159 {
    position:absolute;
    left:830px;
    top:861px;
    width:90px;
    height:3px
}

.u161_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u161_original.png');
}

.u161_container {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u161 {
    position:absolute;
    left:190px;
    top:484px;
    width:20px;
    height:20px
}

.u166_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u166_container {
    position:absolute;
    left:511px;
    top:491px;
    width:18px;
    height:18px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u166 {
    position:absolute;
    left:511px;
    top:491px;
    width:18px;
    height:18px
}

.u168_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u168_container {
    position:absolute;
    left:533px;
    top:491px;
    width:18px;
    height:18px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u168 {
    position:absolute;
    left:533px;
    top:491px;
    width:18px;
    height:18px
}

.u170_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u170_container {
    position:absolute;
    left:555px;
    top:491px;
    width:18px;
    height:18px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u170 {
    position:absolute;
    left:555px;
    top:491px;
    width:18px;
    height:18px
}

.u172_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u172_container {
    position:absolute;
    left:577px;
    top:491px;
    width:18px;
    height:18px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u172 {
    position:absolute;
    left:577px;
    top:491px;
    width:18px;
    height:18px
}

.u174_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u174_container {
    position:absolute;
    left:599px;
    top:491px;
    width:18px;
    height:18px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u174 {
    position:absolute;
    left:599px;
    top:491px;
    width:18px;
    height:18px
}

.u176_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u176_container {
    position:absolute;
    left:621px;
    top:491px;
    width:18px;
    height:18px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u176 {
    position:absolute;
    left:621px;
    top:491px;
    width:18px;
    height:18px
}

.u178_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u178_container {
    position:absolute;
    left:643px;
    top:491px;
    width:18px;
    height:18px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u178 {
    position:absolute;
    left:643px;
    top:491px;
    width:18px;
    height:18px
}

.u180_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u180_container {
    position:absolute;
    left:665px;
    top:491px;
    width:18px;
    height:18px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u180 {
    position:absolute;
    left:665px;
    top:491px;
    width:18px;
    height:18px
}

.u182_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u182_container {
    position:absolute;
    left:687px;
    top:491px;
    width:18px;
    height:18px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u182 {
    position:absolute;
    left:687px;
    top:491px;
    width:18px;
    height:18px
}

.u184_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u18_original.png');
}

.u184_container {
    position:absolute;
    left:180px;
    top:607px;
    width:310px;
    height:125px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u184 {
    position:absolute;
    left:180px;
    top:607px;
    width:310px;
    height:125px
}

.u188_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u18_original.png');
}

.u188_container {
    position:absolute;
    left:180px;
    top:833px;
    width:310px;
    height:125px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u188 {
    position:absolute;
    left:180px;
    top:833px;
    width:310px;
    height:125px
}

.u195_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u195_original.png');
}

.u195_container {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:26px;
}

.u195 {
    position:absolute;
    left:10px;
    top:300px;
    width:130px;
    height:20px
}

.u197_line {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u197_line.png');
}

.u197_line {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px;
}

.u197 {
    position:absolute;
    left:0px;
    top:354px;
    width:160px;
    height:3px
}

.u202_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u202_original.png');
}

.u202_container {
    position:absolute;
    left:170px;
    top:1037px;
    width:770px;
    height:213px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:219px;
}

.u202 {
    position:absolute;
    left:170px;
    top:1037px;
    width:770px;
    height:213px
}

.u206_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u206_original.png');
}

.u206_container {
    position:absolute;
    left:180px;
    top:1095px;
    width:310px;
    height:125px;
}

#u206_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:131px;
}

.u206 {
    position:absolute;
    left:180px;
    top:1095px;
    width:310px;
    height:125px
}

.u209_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u209_container {
    position:absolute;
    left:510px;
    top:1097px;
    width:32px;
    height:32px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u209 {
    position:absolute;
    left:510px;
    top:1097px;
    width:32px;
    height:32px
}

.u211_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u211_container {
    position:absolute;
    left:620px;
    top:1099px;
    width:32px;
    height:32px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u211 {
    position:absolute;
    left:620px;
    top:1099px;
    width:32px;
    height:32px
}

.u213_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u213_container {
    position:absolute;
    left:510px;
    top:1139px;
    width:32px;
    height:32px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u213 {
    position:absolute;
    left:510px;
    top:1139px;
    width:32px;
    height:32px
}

.u215_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u21_original.png');
}

.u215_container {
    position:absolute;
    left:620px;
    top:1141px;
    width:32px;
    height:32px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:38px;
    height:38px;
}

.u215 {
    position:absolute;
    left:620px;
    top:1141px;
    width:32px;
    height:32px
}

.u224_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u224_container {
    position:absolute;
    left:511px;
    top:1201px;
    width:18px;
    height:18px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u224 {
    position:absolute;
    left:511px;
    top:1201px;
    width:18px;
    height:18px
}

.u226_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u74_original.png');
}

.u226_container {
    position:absolute;
    left:533px;
    top:1201px;
    width:18px;
    height:18px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u226 {
    position:absolute;
    left:533px;
    top:1201px;
    width:18px;
    height:18px
}

.u229_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u128_original.png');
}

.u229_container {
    position:absolute;
    left:750px;
    top:1080px;
    width:176px;
    height:147px;
}

#u229_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:182px;
    height:153px;
}

.u229 {
    position:absolute;
    left:750px;
    top:1080px;
    width:176px;
    height:147px
}

.u231_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u130_original.png');
}

.u231_container {
    position:absolute;
    left:850px;
    top:1201px;
    width:73px;
    height:20px;
}

#u231_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u231 {
    position:absolute;
    left:850px;
    top:1201px;
    width:73px;
    height:20px
}

.u241_line {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u241_line.png');
}

.u241_line {
    position:absolute;
    left:830px;
    top:1125px;
    width:90px;
    height:3px;
}

.u241 {
    position:absolute;
    left:830px;
    top:1125px;
    width:90px;
    height:3px
}

.u244_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u244_original.png');
}

.u244_container {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1550px;
}

#u244_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:1556px;
}

.u244 {
    position:absolute;
    left:0px;
    top:0px;
    width:990px;
    height:1550px
}

.u246_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u246_original.png');
}

.u246_container {
    position:absolute;
    left:110px;
    top:250px;
    width:720px;
    height:450px;
}

#u246_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:450px;
}

.u246 {
    position:absolute;
    left:110px;
    top:250px;
    width:720px;
    height:450px
}

.u249_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u249_original.png');
}

.u249_container {
    position:absolute;
    left:130px;
    top:290px;
    width:100px;
    height:40px;
}

#u249_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u249 {
    position:absolute;
    left:130px;
    top:290px;
    width:100px;
    height:40px
}

.u251_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u251_original.png');
}

.u251_container {
    position:absolute;
    left:235px;
    top:290px;
    width:100px;
    height:40px;
}

#u251_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u251 {
    position:absolute;
    left:235px;
    top:290px;
    width:100px;
    height:40px
}

.u255_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u255_original.png');
}

.u255_container {
    position:absolute;
    left:125px;
    top:323px;
    width:690px;
    height:357px;
}

#u255_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:363px;
}

.u255 {
    position:absolute;
    left:125px;
    top:323px;
    width:690px;
    height:357px
}

.u257_disabled {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u257_disabled.png');
}

.u257_original {
    background-image: url('../Overlay_-_Unacceptable_Matls_Tab_files/u257_original.png');
}

.u257_container {
    position:absolute;
    left:700px;
    top:640px;
    width:90px;
    height:20px;
}

#u257_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:26px;
}

.u257 {
    position:absolute;
    left:700px;
    top:640px;
    width:90px;
    height:20px
}

